<div class="modal-header">
  <h3 class="text-center">Check Out</h3>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" ng-model="checkOutFrom.quantity">
      </div>
      <div class="form-group">
        <label>Sent To</label>
        <input type="text" class="form-control" ng-model="checkOutFrom.sentTo">
      </div>
      <div class="form-group">
        <label>Reason</label>
        <input type="text" class="form-control" ng-model="checkOutFrom.reason">
      </div>
      <div class="form-group">
        <button type="button" name="button" class="btn btn-primary" ng-click="checkedOutFun()">Check Out</button>
      </div>
    </div>
  </div>
</div>
