<div class="container-fluid" style="padding:10px" ng-controller="businessManagement.assets.form">
  <div class="col-md-12">
    <!-- <h3 ng-if="mode=='new'">Create Assets </h3>
    <h3 ng-if="mode=='edit'">Update Assets </h3> -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="form.name" >
          </div>
          <div class="form-group">
            <label>Brand</label>
            <input type="text" class="form-control" ng-model="form.brand">
          </div>
          <div class="form-group">
            <label>Model No</label>
            <input type="text" class="form-control" ng-model="form.modelNo">
          </div>
            <!-- img to be added -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-top:30px;">
          <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
        </div>
      </div>
  </div>
</div>
