<div class="col-md-3" style="margin-top: 10px;">
  <div class="container-fluid card" style="padding-top:10px;" >
    <div class="row container-fluid">
      <div class="col-md-10">
        <label><b>Name : </b> </label>{{data.name}} <br>
        <label><b>Brand : </b> </label>{{data.brand}} <br>
        <label><b>Model No : </b> </label>{{data.modelNo}} <br>
      </div>
    <div class="col-md-2">
      <span><i class="fa fa-info" style="color: rgb(24, 108, 219);font-size: 20px;cursor:pointer;" ng-click="rowActionClicked('details')"></i></span>
      <br> <br>
      <span><i class="fa fa-pencil" style="color: rgb(24, 108, 219);font-size: 20px;cursor:pointer;" ng-click="rowActionClicked('edit')"></i></span>
    </div>
    </div>
  </div>
</div>
