<div class="modal-header">
  <h3 class="text-center">Check In</h3>
</div>
<div class="modal-body">
  <!-- <div class="col-md-4">
    <div class="container-fluid card" style="padding:10px;" >
      <div class="row container-fluid">
        <div class="col-md-10">
          <label><b>Name : </b> </label>{{data.name}} <br>
          <label><b>Brand : </b> </label>{{data.brand}} <br>
          <label><b>Model No : </b> </label>{{data.modelNo}} <br> <br>
        </div>
      </div>

    </div>
  </div> -->
  <div class="container-fluid">
    <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
    <!-- <uib-tabset>

      <uib-tab active="searchTabActive">

        <uib-tab-heading>
          Browse
          <i class="fa fa-list-ul"></i>
        </uib-tab-heading>
        <div class="container-fluid">
        </div>
      </uib-tab>
    </uib-tabset> -->
  </div>
</div>
