<div class=" bg-white" style="min-height:93vh;">

  <breadcrumb></breadcrumb>
  <div class="container-fluid">
    <p style="text-align:center;padding-top:200px;">
      <i class="fa fa-users fa-5x"></i>
      <i class="fa fa-wrench fa-5x "></i>
      <br>
      <h3 class="text-muted" style="text-align:center;"> Admin default page</h3>
    </p>

  </div>
</div>
