<div class=" bg-white " style="position:relative;min-height:93vh;">
  <div class="container-fluid" style="padding:0px;">
    <div class="col-md-10" style="padding:0px;">
      <div ui-view></div>
    </div>
    <div class="col-md-2 animated fadeIn" style="position:absolute; height:100%;top:0px;right:0px;background-color:var(--themeMain);color:white;">
      <div ui-view="menu"></div>
    </div>
  </div>
</div>
