<div class="modal-header bg-blue">
  <div class="container-fluid">
    <h4>
      <span class="pull-right">
        Send notifications
      </span>
      <i class="fa fa-arrow-circle-o-left pull-left fa-lg" ng-click="cancel()" style="cursor:pointer;"></i>
    </h4>
  </div>
</div>
<div class="row" style="padding:10px;display:block;box-sizing:border-box;">

  <div class="container-fluid">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Due Date : </strong>
        </div>
        <div class="col-md-6">
          <span ng-if="quote.dueDate != null">{{quote.dueDate | date : 'dd-MMM-yyyy'}}</span>
          <span ng-if="quote.dueDate == null">Not available</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Value : </strong>
        </div>
        <div class="col-md-6">
          {{quote.value}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <strong>Status : </strong>
        </div>
        <div class="col-md-6">
          {{quote.status | humanize}}
        </div>
      </div>
    </div>

  </div>

</div>



<div class="row" style="padding-top:30px;">
  <div style="padding:40px;background:#eeeeee;" >

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Notification Type</label>
          <select class="form-control" ng-model="notificationType">
            <option value="Please select">Please select</option>
            <option value="invoiceGenerated" ng-if="quote.status == 'billed'">Invoice generated</option>
            <option value="dueDateReminder" ng-if="quote.status == 'billed'">Due Date reminder</option>
            <option value="dueDateElapsed" ng-if="quote.status == 'dueElapsed'">Due date elapsed</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Type</label> <br>
          <label class="checkbox-inline">
            <input type="checkbox" value="sms" ng-model="sendSMS"><span style="margin-left:20px;">SMS</span>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" value="email" ng-model="sendEmail"> <span style="margin-left:20px;">Email</span>
          </label>
        </div>
      </div>
      <div class="col-md-4" style="padding-top:25px;">
        <button type="button" class="btn btn-default bgn-lg pull-right" ng-click="send()">
          Send <i class="fa fa-plane"></i>
        </button>
      </div>
    </div>
  </div>
  <div style="padding:40px;">
    <div class="row" style="padding:40px;">
      <div class="container-fluid">
        <div class="form-group" >
          <label>Recipients</label>
          <div class="row">
            <div class="container-fluid">
              <div class="row" ng-repeat="c in deal.contacts" style="margin-bottom:15px;">
                <div class="col-md-2 text-right">
                  <img ng-src="{{c | getCRMDP}}" class="img img-circle" style="width:60px;height:60px;">
                </div>
                <div class="col-md-3" style="padding-top:20px;">
                  {{c.name}}
                </div>
                <div class="col-md-5" style="padding-top:20px;">
                  <input type="checkbox" ng-model="c.checked">
                </div>
              </div>
            </div>
          </div>
        </div>

        <users-Field data="internalUsers" url="/api/HR/userSearch/" col="4" label="Internal People"></users-Field>



      </div>
    </div>





  </div>
</div>
