<div ng-controller="businessManagement.clientRelationships.contacts.explore" style="padding-top:20px;">
  <div class="col-md-10">
    <div class="col-md-3" style="border-right:solid 2px #eeeeee;min-height:82vh;position:relative;">

      <div style="position:absolute; top:10px;left:10px;cursor:pointer;" class="text-muted" ng-click="editContact()">
        <i class="fa fa-pencil fa-2x"></i>
      </div>

      <div class="row text-center">
        <img ng-src="{{contact | getCRMDP}}" class="img img-circle" style="width:100px;">
      </div>
      <div class="row text-center">
        <h4>{{contact.name}}</h4>
        <span>{{contact.designation}}</span> <br>
        <span class="text-muted">{{contact.company.name}}</span>
      </div>
      <div ng-if="contact.mobile != null || contact.email != null || contact.facebook != null || contact.linkedin != null || contact.mobileSecondary != null || contact.emailSecondary != null" class="row" style="margin-top:50px;overflow:hidden;position:relative;min-height:100px;width:100%;">
        <i class="fa fa-address-book-o" style="font-size:260px;color:#f7fbfc; transform: rotate(30deg)"></i>
        <div class="container-fluid" style="position:absolute;top:0px;">
          <div ng-if="contact.mobile != null || contact.email != null || contact.facebook != null || contact.linkedin != null">
            <label class="text-muted">Primary</label>
            <br>
            <span ng-if="contact.mobile != null"><strong><i style="width:30px;" class="fa fa-mobile"></i> </strong>{{contact.mobile}}</span> <br>
            <span ng-if="contact.email != null"><strong><i style="width:30px;" class="fa fa-envelope-o"></i> </strong><a href="mailto:{{contact.email}}?Subject=Hello%20again&body=Hi," target="_top">{{contact.email}}</a></span> <br>
            <span ng-if="contact.facebook != null"><strong><i style="width:30px;" class="fa fa-facebook"></i> </strong> <a href="{{contact.facebook}}" target = "_blank">{{contact.facebook.substring(0,25)}}</a></span> <br>
            <span ng-if="contact.linkedin != null"><strong><i style="width:30px;" class="fa fa-linkedin"></i> </strong><a href="{{contact.linkedin}}" target = "_blank">{{contact.linkedin.substring(0,25)}}</a></span> <br>
          </div>

          <br>
          <br>
          <div ng-if="contact.mobileSecondary != null || contact.emailSecondary != null">
            <label class="text-muted">Secondary</label> <br>
            <span ng-if="contact.mobileSecondary != null"><strong><i style="width:30px;" class="fa fa-mobile"></i> </strong>{{contact.mobileSecondary}}</span> <br>
            <span ng-if="contact.emailSecondary != null"><strong><i style="width:30px;" class="fa fa-envelope-o"></i> </strong>{{contact.emailSecondary}}</span>
          </div>

        </div>
      </div>

      <div ng-if="!(contact.mobile != null || contact.email != null || contact.facebook != null || contact.linkedin != null || contact.mobileSecondary != null || contact.emailSecondary != null)" class="text-center" style="margin-top:40px;margin-bottom:40px;">
        <h4 class="text-muted"> No contact details found</h4>
      </div>


      <div class="row" style="position:relative;min-height:250px;" ng-if="contact.company != null">
        <i class="fa fa-building-o" style="font-size:260px;color:#fcf7f7;margin-left:80px;margin-top:140px;"></i>
        <div class="container-fluid" style="position:absolute;top:0px;width:100%;">
          <label class="text-muted"> <i class="fa fa-building-o" style="width:20px;"></i> Organisation</label>
          <br>
          <h5 style="margin-left:22px;">{{contact.company.name}}</h5> <br>
          <div class="row" style="margin-top:10px;" ng-if="contact.company.address != null">
            <div class="col-md-2">
              <i class="fa fa-map-marker fa-3x pull-right" style="color:#8faec2;"></i>
            </div>
            <div class="col-md-10">
              <span>{{contact.company.address.street}}</span> <br>
              <span>{{contact.company.address.city}}</span> <br>
              <span>{{contact.company.address.state}}</span> <br>
              <span>{{contact.company.address.pincode}}</span> <br>
              <span>{{contact.company.address.country}}</span> <br>
            </div>
          </div>
          <div class="row" style="margin-top:20px;" ng-if="coworkers.length>0">
            <div class="container-fluid">
              <label class="text-muted">In Network</label> <br>
              <div ng-repeat="c in coworkers" class="row" style="margin-top:10px;cursor:pointer;" ng-if="c.pk != contact.pk" ng-click="exploreContact(c)">
                <div class="col-md-3">
                  <img style="width: 50px;height:50px;" class="img img-rounded" ng-src="{{c | getCRMDP}}">
                </div>
                <div class="col-md-9" style="padding-top:3px;">
                  <span>{{c.name}}</span>
                  <br> <span class="text-muted">{{c.designation}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9" style="border-right:solid 2px #eeeeee;min-height:82vh;">

      <tabs-Strip tabs="tabs" active="local.activeTab"></tabs-Strip>

      <div ng-if="local.activeTab == 0" class="row" style="margin:5px;">
        <comment-Input text="noteEditor.text" doc="noteEditor.doc" save-Note="saveNote"></comment-Input>
        <!-- /input-group -->
        <input type="file" file-model="noteEditor.doc" style="display:None;" id="noteEditorFile">
      </div>
      <div class="row animated fadeIn">
        <div ng-if="local.activeTab == 0" class="container-fluid">
          <div class="text-center text-muted" ng-if="timelineItems.length == 0" style="padding-top:50px;">
            No activity log found!
          </div>
          <div class="col-md-10 col-md-offset-2" style="padding-top:40px;">
            <ul class="timeline timeline-inverse">
              <div ng-repeat="feed in timelineItems">
                <div ng-if="feed.newMonth || $first" style="position:absolute; margin-left:-130px;">
                  <span ng-if="!$first" class="badge badge-pill bg-yellow" style="font-size:15px;">{{feed.created | date:'MMM-yy'}}</span>
                  <span ng-if="$first" class="badge badge-pill bg-yellow" style="font-size:15px;">{{feed.created |timeAgo}} Ago</span>
                </div>
                <crm-Note ng-if="feed.typ == 'note'" data="feed"></crm-Note>
                <crm-Call ng-if="feed.typ == 'call'" data="feed"></crm-Call>
                <crm-Meeting ng-if="feed.typ == 'meeting'" data="feed"></crm-Meeting>
                <crm-Mail ng-if="feed.typ == 'mail' && feed.data.length >0" data="feed"></crm-Mail>
                <crm-Todo ng-if="feed.typ == 'todo'" data="feed"></crm-Todo>
              </div>
            </ul>
          </div>

          <nav>
            <ul class="pager">
              <li class="previous {{pageNo == 0? 'disabled':''}}"><a href="" ng-click="prevPage()"><span aria-hidden="true">&larr;</span> Prev</a></li>
              <li class="next {{disableNext? 'disabled':''}}"><a href="" ng-click="nextPage()">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>

        </div>

        <div ng-if="local.activeTab == 1">
          <div class="container-fluid">
            <h3 class="text-muted">Log an activity</h3>
          </div>
          <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
            <div class="col-md-3" style="padding-top:40px;">
              <div class="form-group">
                <label>Type</label>
                <select class="form-control" ng-model="logger.activityType">
                  <option value="Email">Email</option>
                  <option value="Meeting">Meeting</option>
                  <option value="Call">Call</option>
                </select>
              </div>
            </div>
            <div class="col-md-9" style="padding:20px;border-left:solid 1px #eeeeee;">
              <div class="form-group">
                <label class="control-label col-sm-3" style="margin-top:35px;padding:0px;">When</label>
                <div class="col-md-5">
                  <div class="input-group" style="margin-top:35px;">
                    <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="logger.when" is-open="status.opened" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row container-fluid">
                    <uib-timepicker ng-model="logger.when" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
                  </div>
                </div>
              </div>

              <users-Field data="logger.internalUsers" url="/api/HR/userSearch/" col="4" label="Internal People"></users-Field>

              <clients-Field data="logger.withinCRMUsers" url="/api/clientRelationships/contactLite/" col="4" label="Within CRM" ></clients-Field>

              <div ng-if="logger.activityType == 'Email'">
                <div class="form-group">
                  <label>Subject</label>
                  <input type="text" ng-model="logger.subject" class="form-control">
                </div>
              </div>
              <div ng-if="logger.activityType == 'Call'">
                <div class="form-group">
                  <label>Duration</label>
                  <input type="number" ng-model="logger.duration" class="form-control">
                </div>
              </div>
              <div ng-if="logger.activityType == 'Meeting'">
                <div class="form-group">
                  <label>Duration</label>
                  <input type="number" ng-model="logger.duration" class="form-control">
                </div>
                <div class="form-group">
                  <label>Place</label>
                  <input type="text" ng-model="logger.location" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label>Comment</label>
                <textarea ui-tinymce="tinymceOptions" ng-model="logger.comment"></textarea>
              </div>
              <button type="button" class="btn btn-primary" ng-click="saveActivityLog()">Save</button>
            </div>
          </div>
        </div>

        <div ng-if="local.activeTab == 2">
          <div class="container-fluid">
            <div ng-include="'/static/ngTemplates/app.clientRelationships.email.modal.html'">
            </div>
          </div>
        </div>

        <div ng-if="local.activeTab == 3">
          <div class="container-fluid">
            <h3 class="text-muted">Call/sms</h3>

            <div class="col-md-6">
              <textarea style="margin-bottom:20px;" class="form-control" rows="4" cols="80"></textarea>

              <button type="button" class="btn btn-primary">
                Send
              </button>

            </div>
            <div class="col-md-6" style="border-left:solid 2px #eeeeee;">
              <button type="button" class="btn btn-default">
                Call
              </button>
            </div>


          </div>
        </div>
        <div ng-if="local.activeTab == 4">
          <div class="container-fluid">
            <h3 class="text-muted">Create a task</h3>
            <div class="col-md-9 col-md-offset-2" style="padding-top:20px;">
              <div class="form-group">
                <label>By when </label>
                <div class="input-group">
                  <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="taskEditor.when" is-open="status.opened" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </div>
              </div>
              <br>
              <clients-Field data="taskEditor.otherCRMUsers" url="/api/clientRelationships/contactLite/" col="4" label="Other stakeholders"></clients-Field>
              <div class="form-group">
                <label>Task details</label>
                <textarea class="form-control" rows="4" cols="80" ng-model="taskEditor.details"></textarea>
              </div>

              <button type="button" class="btn btn-default" ng-click="saveTask()">
              Save
            </button>

            </div>
          </div>
        </div>

        <div ng-if="local.activeTab == 5">
          <div class="container-fluid">
            <h3 class="text-muted">Schedule an event</h3>

            <div class="col-md-9 col-md-offset-2" style="padding-top:20px;">
              <div class="form-group">
                <label class="control-label col-sm-3" style="margin-top:35px;padding:0px;">When</label>
                <div class="col-md-5">
                  <div class="input-group" style="margin-top:35px;">
                    <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="eventScheduler.when" is-open="status.opened" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row container-fluid">
                    <uib-timepicker ng-model="eventScheduler.when" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
                  </div>
                </div>
              </div>
              <br>
              <clients-Field data="eventScheduler.otherCRMUsers" url="/api/clientRelationships/contactLite/" col="4" label="Other stakeholders"></clients-Field>

              <users-Field data="eventScheduler.internalUsers" url="/api/HR/userSearch/" col="4" label="Internal People"></users-Field>

              <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" ng-model="eventScheduler.venue">
              </div>

              <div class="form-group">
                <label>Event details</label>
                <textarea class="form-control" rows="4" cols="80" ng-model="eventScheduler.details"></textarea>
              </div>

              <button type="button" class="btn btn-default" ng-click="saveEvent()">
              Save
            </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="row">
      <div class="container-fluid text-center">
        <h4 class="text-muted">
          <i class="fa fa-calendar fa-lg"></i> <span style="padding-bottom:20px;">Upcoming</span>
        </h4>
      </div>
    </div>
    <div class="row" style="overflow:hidden;">
      <!-- <i style="position:absolute; font-size:260px;color:#f7fbfc;left:120px;top:180px;" class="fa fa-calendar"></i> -->
      <div class="text-center text-muted" ng-if="calendar.length == 0" style="padding-top:50px;">
        No entry in calendar!
      </div>
      <div ng-repeat="c in calendar" >
        <div class="row text-center" ng-if="c.newDate" style="margin-top:30px;">
          <span class="badge bg-blue" ng-if="c.today">Today</span>
          <span class="badge bg-blue" ng-if="!c.today">{{c.when.toDateString()}}</span>
        </div>
        <div class="row" style="margin-top:20px;">
          <div class="col-md-2" >

            <input ng-if="c.eventType == 'Reminder'" type="checkbox" ng-model="c.completed" ng-change="markComplete(c.pk)">
            <i class="fa fa-users" ng-if="c.eventType == 'Meeting'"></i>
          </div>
          <div class="col-md-10" >
            <div class="row">
              <span style="{{c.completed ? 'text-decoration:line-through green;':''}}">{{c.text}}</span>
            </div>
            <div class="row" ng-if="c.clients.length>0">
              <label class="text-muted" style="margin-top:10px;color:#c1c1c1;">Stakeholders</label> <br>
              <div class="row" ng-repeat="p in c.clients" style="cursor:pointer;" ng-click="exploreContact(p)">
                <img ng-src="{{p | getCRMDP}}" class="img img-circle" style="width:20px;height:20px;" alt="">
                {{p.name}}
              </div>
            </div>

            <div class="row" ng-if="c.followers.length>0">
              <label class="text-muted" style="margin-top:10px;color:#c1c1c1;">Internal Users</label> <br>
              <div class="row" ng-repeat="p in c.followers">
                <img ng-src="{{p | getDP}}" class="img img-circle" style="width:20px;height:20px;" alt="">
                {{p | getName}}
              </div>
            </div>

            <div class="row" ng-if="c.venue != null && c.venue.length>0">
              <label class="text-muted" style="margin-top:10px;color:#c1c1c1;">Venue</label> <br>
              {{c.venue}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
