<div class="modal-body">
  <div class="container-fluid">

    <div class="form-group">
      <label>Emails</label>
      <input type="text" class="form-control" ng-model="form.emails">
    </div>

    <button type="button" class="btn btn-default">
      Send <i class="fa fa-paper-plane"></i>
    </button>

  </div>

</div>
