<div ng-controller="businessManagement.clientRelationships.opportunities.explore" style="padding-top:20px;">

  <div class="row animated fadeIn">
    <div class="container-fluid">
      <div class="col-md-6">
        <div class="col-md-{{local.minInfo ? '1':'2'}}">
          <div style="{{ !local.minInfo? 'width:70px;height:70px;font-size:55px':'width:30px;height:30px;font-size:22px'}}; background:#FCB95B;display:bolck;padding-bottom:5px;border-radius:7px;" class="text-center">
            <i class="fi-crown" style="color:white;"></i>
          </div>
        </div>
        <div class="col-md-{{local.minInfo ? '11':'10'}}" style="paddint-top:0px;">
          <div ng-if="!local.minInfo">
            <span class="text-muted" style="font-size:15px;">{{deal.name | humanize}}</span> <br>
            <span style="font-size:17px;">{{deal.company.name | humanize}}</span>
          </div>
          <div ng-if="local.minInfo">

            <span style="font-size:17px;">{{deal.company.name | humanize}} | </span><span class="text-muted" style="font-size:15px;">{{deal.name | humanize}}</span>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-2">
          <span ng-if="!local.minInfo" class="text-muted" style="font-size:15px;">VALUATION <br></span>
          <span style="font-size:17px;"> <i class="fa fa-{{deal.currency | lowercase}} fa-lg text-muted"></i> {{deal.value}}</span>
        </div>
        <div class="col-md-3">
          <span ng-if="!local.minInfo" class="text-muted" style="font-size:15px;">CLOSING DATE <br></span>
          <span style="font-size:17px;"> <i ng-if="local.minInfo" class="fa fa-calendar fa-lg text-muted" style="margin-right:20px;"></i> {{deal.closeDate | date:'dd-MMM-yyyy'}}</span>
        </div>
        <div class="col-md-3">
          <span ng-if="!local.minInfo" class="text-muted" style="font-size:15px;">OWNER <br></span>
          <img ng-src="{{deal.user | getDP}}" class="img img-rounded" style="{{ !local.minInfo? 'height:40px;width:40px':'height:30px;width:30px'}};"> <span style="font-size:17px;">{{deal.user | getName}}</span>
        </div>
        <div class="col-md-4">
          <div class="btn-group btn-group-sm pull-right">
            <button type="button" class="btn btn-default" ng-click="editDeal()">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button type="button" class="btn btn-default" ng-click="cloneDeal()">
              <i class="fa fa-copy"></i> Clone
            </button>
            <button type="button" class="btn btn-default" ng-click="quote()">
              <i class="fa fa-money"></i> Quote
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:20px;padding-bottom:20px;border-bottom:solid 2px #eeeeee;">
    <div class="container-fluid">
      <div class="col-md-1 text-center" >
        <div ng-click="toggleInfoLevel()" class="btn" style="height:48px;width:48px;padding:10px;border-radius:25px;font-size:17px;background:#eeeeee;color:#347b95;">
          <i class="fa fa-chevron-{{ local.minInfo? 'down':'up'}}"></i>
        </div>
      </div>
      <div class="col-md-9">
        <wizard steps="data.steps" editable="false" active="deal.state" error="deal.result == 'lost'"></wizard>
      </div>
      <div class="col-md-2 text-center" >
        <div ng-if="deal.state<5 && deal.result == 'na'" class="btn btn-block" ng-click="moveToNextStage()"  style="height:48px;padding:10px;border-radius:25px;font-size:17px;background:#2980b9;color:white;">
          <span ng-if="deal.state != -1"><i class="fa fa-check"></i> Mark stage as complete</span>
          <span ng-if="deal.state == -1"><i class="fa fa-phone"></i> Ready Set Go! </span>
        </div>
        <div class="row" ng-if="deal.state==5 && deal.result == 'na'">
          <div class="col-md-6" style="padding:0px;padding-right:5px;">
            <div  class ="btn btn-block" ng-click="concludeDeal('won')"  style="height:48px;padding:10px;border-radius:25px;font-size:17px;color:white;background:#2980b9;">
              <i class="fa fa-check"></i> Won
            </div>
          </div>
          <div class="col-md-6" style="padding:0px;padding-right:5px;">
            <div class="btn btn-block bg-red" ng-click="concludeDeal('lost')"  style="height:48px;padding:10px;border-radius:25px;font-size:17px;background:#2980b9;color:white;">
              <i class="fa fa-check"></i> Lost
            </div>
          </div>

        </div>

        <div ng-if="deal.result != 'na'" class="bg-{{deal.result == 'won' ? 'green': 'red'}}" style="height:48px;padding:10px;border-radius:25px;font-size:17px;background;color:white;">
          <i class="fa fa-{{deal.result == 'won' ? 'check': 'times'}}"></i> {{ deal.result | humanize}}
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2" style="padding-top:20px;">
      <label class="text-muted">External Stakeholders</label>
      <div ng-repeat="c in deal.contacts" class="row" style="margin-top:10px;cursor:pointer;" ng-if="c.pk != contact.pk" ng-click="exploreContact(c)">
        <div class="col-md-3">
          <img style="width: 50px;height:50px;" class="img img-rounded" ng-src="{{c | getCRMDP}}">
        </div>
        <div class="col-md-9" style="padding-top:3px;">
          <span>{{c.name}}</span>
          <br> <span class="text-muted">{{c.designation}}</span>
        </div>
      </div> <br>
      <div ng-if="deal.internalUsers.length > 0">
        <label class="text-muted" style="margin-bottom:15px;">Internal Stakeholders</label>
        <div ng-repeat="c in deal.internalUsers" class="row" style="padding-bottom:10px;">
          <div class="col-md-3">
            <img style="width: 50px;height:50px;" class="img img-rounded" ng-src="{{c | getDP}}">
          </div>
          <div class="col-md-9">
            {{c | getName}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7" style="min-height:70vh;border-right:solid 2px #eeeeee;border-left:solid 2px #eeeeee;">
      <tabs-Strip tabs="tabs" active="local.activeTab"></tabs-Strip>

      <div ng-if="local.activeTab == 0" class="row" style="margin:5px;">
        <comment-Input text="noteEditor.text" doc="noteEditor.doc" save-Note="saveNote"></comment-Input>
      </div>
      <div class="row animated fadeIn">
        <div ng-if="local.activeTab == 0" class="container-fluid">
          <div class="text-center text-muted" ng-if="timelineItems.length == 0" style="padding-top:50px;">
            No activity log found!
          </div>
          <div class="col-md-10 col-md-offset-2" style="padding-top:40px;">
            <ul class="timeline timeline-inverse">
              <div ng-repeat="feed in timelineItems">
                <div ng-if="feed.newMonth || $first" style="position:absolute; margin-left:-130px;">
                  <span ng-if="!$first" class="badge badge-pill bg-yellow" style="font-size:15px;">{{feed.created | date:'MMM-yy'}}</span>
                  <span ng-if="$first" class="badge badge-pill bg-yellow" style="font-size:15px;">{{feed.created |timeAgo}} Ago</span>
                </div>
                <crm-Note ng-if="feed.typ == 'note'" data="feed"></crm-Note>
                <crm-Call ng-if="feed.typ == 'call'" data="feed"></crm-Call>
                <crm-Meeting ng-if="feed.typ == 'meeting'" data="feed"></crm-Meeting>
                <crm-Mail ng-if="feed.typ == 'mail' && feed.data.length >0" data="feed"></crm-Mail>
                <crm-Todo ng-if="feed.typ == 'todo'" data="feed"></crm-Todo>
              </div>
            </ul>
          </div>

          <nav>
            <ul class="pager">
              <li class="previous {{pageNo == 0? 'disabled':''}}"><a href="" ng-click="prevPage()"><span aria-hidden="true">&larr;</span> Prev</a></li>
              <li class="next {{disableNext? 'disabled':''}}"><a href="" ng-click="nextPage()">Next <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>

        </div>

        <div ng-if="local.activeTab == 1">
          <div class="container-fluid">
            <h3 class="text-muted">Log an activity</h3>
          </div>
          <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
            <div class="col-md-3" style="padding-top:40px;">
              <div class="form-group">
                <label>Type</label>
                <select class="form-control" ng-model="logger.activityType">
                  <option value="Email">Email</option>
                  <option value="Meeting">Meeting</option>
                  <option value="Call">Call</option>
                </select>
              </div>
            </div>
            <div class="col-md-9" style="padding:20px;border-left:solid 1px #eeeeee;">
              <div class="form-group">
                <label class="control-label col-sm-3" style="margin-top:35px;padding:0px;">When</label>
                <div class="col-md-5">
                  <div class="input-group" style="margin-top:35px;">
                    <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="logger.when" is-open="status.opened" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row container-fluid">
                    <uib-timepicker ng-model="logger.when" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
                  </div>
                </div>
              </div>

              <users-Field data="logger.internalUsers" url="/api/HR/userSearch/" col="4" label="Internal People"></users-Field>

              <clients-Field data="logger.withinCRMUsers" url="/api/clientRelationships/contactLite/" col="4" label="Within CRM" ></clients-Field>

              <div ng-if="logger.activityType == 'Email'">
                <div class="form-group">
                  <label>Subject</label>
                  <input type="text" ng-model="logger.subject" class="form-control">
                </div>
              </div>
              <div ng-if="logger.activityType == 'Call'">
                <div class="form-group">
                  <label>Duration</label>
                  <input type="number" ng-model="logger.duration" class="form-control">
                </div>
              </div>
              <div ng-if="logger.activityType == 'Meeting'">
                <div class="form-group">
                  <label>Duration</label>
                  <input type="number" ng-model="logger.duration" class="form-control">
                </div>
                <div class="form-group">
                  <label>Place</label>
                  <input type="text" ng-model="logger.location" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label>Comment</label>
                <textarea ui-tinymce="tinymceOptions" ng-model="logger.comment"></textarea>
              </div>
              <button type="button" class="btn btn-primary" ng-click="saveActivityLog()">Save</button>
            </div>
          </div>
        </div>

        <div ng-if="local.activeTab == 2">
          <div class="container-fluid">
            <div ng-include="'/static/ngTemplates/app.clientRelationships.email.modal.html'">
            </div>
          </div>
        </div>

        <div ng-if="local.activeTab == 3">
          <div class="container-fluid">
            <h3 class="text-muted" style="margin-left:20px;">SMS</h3>
            <div class="" style="padding-top:20px;">
              <div class="col-md-6">
                <div class="form-group">
                  <label></label>
                  <textarea class="form-control" ng-model="sms.text" rows="8" cols="80"></textarea>
                </div>
                <button type="button" class="btn btn-default" ng-click="sendSMS()">
                  <i class="fa fa-paper-plane-o"></i> Send
                </button>
              </div>

              <div class="col-md-6">
                <div class="container-fluid">
                  <div class="row">
                    <span style="margin-right:20px;"><input type="checkbox" ng-model="sms.selectAll"> </span> <span>Select All</span>
                  </div>
                  <hr>
                  <div class="row">
                    <div ng-repeat="c in deal.contacts" class="row" style="margin-top:10px;" >
                      <div style="cursor:pointer;">
                        <div class="col-md-1">
                          <input ng-model="sms.include[$index]" type="checkbox" name="" value="">
                        </div>
                        <div ng-click="exploreContact(c)">
                          <div class="col-md-2">
                            <img style="width: 50px;height:50px;" class="img img-circle" ng-src="{{c | getCRMDP}}">
                          </div>
                          <div class="col-md-8" style="padding-top:3px;">
                            <span>{{c.name}}</span>
                            <br> <span class="text-muted">{{c.designation}}</span>
                          </div>
                        </div>
                      </div>
                    </div> <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-if="local.activeTab == 4">
          <div class="container-fluid">
            <h3 class="text-muted">Create a task</h3>
            <div class="col-md-9 col-md-offset-2" style="padding-top:20px;">
              <div class="form-group">
                <label>By when </label>
                <div class="input-group">
                  <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="taskEditor.when" is-open="status.opened" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </div>
              </div>
              <br>
              <clients-Field data="taskEditor.otherCRMUsers" url="/api/clientRelationships/contactLite/" col="4" label="Other stakeholders"></clients-Field>
              <div class="form-group">
                <label>Task details</label>
                <textarea class="form-control" rows="4" cols="80" ng-model="taskEditor.details"></textarea>
              </div>

              <button type="button" class="btn btn-default" ng-click="saveTask()">
              Save
            </button>

            </div>
          </div>
        </div>

        <div ng-if="local.activeTab == 5">
          <div class="container-fluid">
            <h3 class="text-muted">Schedule an event</h3>

            <div class="col-md-9 col-md-offset-2" style="padding-top:20px;">
              <div class="form-group">
                <label class="control-label col-sm-3" style="margin-top:35px;padding:0px;">When</label>
                <div class="col-md-5">
                  <div class="input-group" style="margin-top:35px;">
                    <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="eventScheduler.when" is-open="status.opened" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row container-fluid">
                    <uib-timepicker ng-model="eventScheduler.when" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
                  </div>
                </div>
              </div>
              <br>
              <clients-Field data="eventScheduler.otherCRMUsers" url="/api/clientRelationships/contactLite/" col="4" label="Other stakeholders"></clients-Field>

              <users-Field data="eventScheduler.internalUsers" url="/api/HR/userSearch/" col="4" label="Internal People"></users-Field>

              <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" ng-model="eventScheduler.venue">
              </div>

              <div class="form-group">
                <label>Event details</label>
                <textarea class="form-control" rows="4" cols="80" ng-model="eventScheduler.details"></textarea>
              </div>

              <button type="button" class="btn btn-default" ng-click="saveEvent()">
              Save
            </button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <div class="container-fluid">
        <div class="row">
          <div class="container-fluid text-center">
            <h4 class="text-muted">
              <i class="fa fa-calendar fa-lg"></i> <span style="padding-bottom:20px;">Upcoming</span>
            </h4>
          </div>
        </div>
        <div class="row" style="overflow:hidden;">
          <!-- <i style="position:absolute; font-size:260px;color:#f7fbfc;left:120px;top:180px;" class="fa fa-calendar"></i> -->
          <div class="text-center text-muted" ng-if="calendar.length == 0" style="padding-top:50px;">
            No entry in calendar!
          </div>
          <div ng-repeat="c in calendar" >
            <div class="row text-center" ng-if="c.newDate" style="margin-top:30px;">
              <span class="badge bg-blue" ng-if="c.today">Today</span>
              <span class="badge bg-blue" ng-if="!c.today">{{c.when.toDateString()}}</span>
            </div>
            <div class="row" style="margin-top:20px;">
              <div class="col-md-2" >

                <input ng-if="c.eventType == 'Reminder'" type="checkbox" ng-model="c.completed" ng-change="markComplete(c.pk)">
                <i class="fa fa-users" ng-if="c.eventType == 'Meeting'"></i>
              </div>
              <div class="col-md-10" >
                <div class="row">
                  <span style="{{c.completed ? 'text-decoration:line-through green;':''}}">{{c.text}}</span>
                </div>
                <div class="row" ng-if="c.clients.length>0">
                  <label class="text-muted" style="margin-top:10px;color:#c1c1c1;">Stakeholders</label> <br>
                  <div class="row" ng-repeat="p in c.clients" style="cursor:pointer;" ng-click="exploreContact(p)">
                    <img ng-src="{{p | getCRMDP}}" class="img img-rounded" style="width:20px;height:20px;margin-left:15px;" alt="">
                    {{p.name}}
                  </div>
                </div>

                <div class="row" ng-if="c.followers.length>0">
                  <label class="text-muted" style="margin-top:10px;color:#c1c1c1;">Internal Users</label> <br>
                  <div class="row" ng-repeat="p in c.followers">
                    <img ng-src="{{p | getDP}}" class="img img-rounded" style="width:20px;height:20px;margin-left:15px;" alt="">
                    {{p | getName}}
                  </div>
                </div>

                <div class="row" ng-if="c.venue != null && c.venue.length>0">
                  <label class="text-muted" style="margin-top:10px;color:#c1c1c1;">Venue</label> <br>
                  {{c.venue}}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- {{deal}} -->

</div>
