<div class="modal-body">
  <div class="container-fluid text-center">
    <h4>Do you want to assign {{newUser.name}} to yourself?</h4>
    <button type="button" class="btn btn-danger" ng-click="assign()">
      Assign
    </button>
    <button type="button" class="btn btn-danger" ng-click="close()">
      Close
    </button>

  </div>
</div>
