{% extends "customerDashboard.html" %}{% load staticfiles %}


{% block content %}

<!-- Page wrapper  -->
<!-- ============================================================== -->
{% verbatim %}
<div class="page-wrapper" ui-view>
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
          <li class="breadcrumb-item active">{{state}}</li>
        </ol>
      </div>
      <div class="col-md-7 col-4 align-self-center">
        <div class="d-flex m-t-10 justify-content-end">
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0"><small>THIS MONTH</small></h6>
              <h5 class="m-t-0 text-info">$58,356</h5></div>
            <div class="spark-chart">
              <div id="monthchart"></div>
            </div>
          </div>
          <div class="d-flex m-r-20 m-l-10 hidden-md-down">
            <div class="chart-text m-r-10">
              <h6 class="m-b-0"><small>LAST MONTH</small></h6>
              <h5 class="m-t-0 text-primary">$48,356</h5></div>
            <div class="spark-chart">
              <div id="lastmonthchart"></div>
            </div>
          </div>
          <!-- <div class="">
            <button class="right-side-toggle waves-effect waves-light btn-success btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
          </div> -->
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->

    <!-- <div class="row">
        <div class="card" style="width:100%;">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-md-12">Select Date</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Johnathan Doe" class="form-control ">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="col-md-12">User Email</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="john.andrew@gmail.com" class="form-control ">
                  </div>
                </div>
              </div>
              <div class="col-md-4" style="margin:auto;" >
                <div class="form-group" style="margin:auto;">
                  <div class="col-md-12">
                    <button class="btn btn-success">Filter</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
    </div> -->

<!--
    <div ng-if="displayReview">
      <div class="card">
        <div class="card-body">
          <div class="row" >
            {{reviewData}}
            <div class="col-md-3" ng-repeat="r in reviewData">
              {{r}}
              <div class="card">
                <div class="card-body">
                  <div class="row container-fluid" style="padding: 0 30px 10px 30px;" >
                    <h4>UID : {{r.uid}}</h4>
                    <h4>{{r.email}}</h4>
                  </div>
                  <div class="row" style="border-top:1px solid #eee; padding:10px;">
                    <div class="col-md-8">
                      <h4>Date: {{r.created}}</h4>
                    </div>
                    <div class="col-md-4">
                      <span class="pull-right" style="cursor:pointer;"><i class="fa fa-info-circle fa-lg"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div ng-if="state=='Review'">
      <uib-tabset>
        <uib-tab active="searchTabActive">
          <uib-tab-heading>
            Browse
            <i class="fa fa-list-ul"></i>
          </uib-tab-heading>
          <div class="card">
            <div class="card-body">
              <div class="row" >
                <div class="col-md-4" ng-repeat="r in reviewData">
                  <div class="card">
                    <div class="card-body">
                      <div class="row" style="padding:0px 10px; height:100px;">
                        <h5>Company : {{r[0].company}}</h5>
                        <h5>UID : {{r[0].uid}}</h5>
                        <h5>{{r[0].email}}</h5>
                      </div>
                      <div class="row" style="border-top:1px solid #eee; padding:10px;">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4">
                          <span ng-click="tableAction($index)" class="pull-right" style="cursor:pointer;"><i class="fa fa-info-circle fa-lg"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>

        <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
          <uib-tab-heading>
            {{tab.title}}
            <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
          </uib-tab-heading>
          <div ng-if="tab.app == 'ChatInfo'">
            <div ng-include="'/static/ngTemplates/app.customer.reviews.explore.html'"></div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>



    <div ng-if="state=='Settings'">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-comment-o"></i> &nbsp; <label>Chat</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="checkbox" ng-model="cpForm.chat">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-phone"></i> &nbsp; <label>Call</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="checkbox" ng-model="cpForm.call">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-envelope"></i> &nbsp; <label>Email</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="checkbox" ng-model="cpForm.email">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-video-camera"></i> &nbsp; <label>Video&Audio</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="checkbox" ng-model="cpForm.videoAndAudio">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-desktop"></i> &nbsp; <label>Window Colour</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.windowColor">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-phone"></i> &nbsp; <label>Call Back</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="checkbox" ng-model="cpForm.callBack">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-ticket"></i> &nbsp; <label>Ticket</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="checkbox" ng-model="cpForm.ticket">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-gg-circle"></i> &nbsp; <label>SupportBubble Colour</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.supportBubbleColor">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <i class="fa fa-info-circle"></i> &nbsp; <label>Icon Colour</label> &nbsp;<input style="position:static; left:0px; opacity:1;" type="color" ng-model="cpForm.iconColor">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5">
                    <i class="fa fa-user"></i> &nbsp; <label>Name</label>
                  </div>
                  <div class="col-md-7">
                    <input class="form-control" type="text" ng-model="cpForm.name">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-5">
                    <i class="fa  fa-picture-o"></i> &nbsp; <label>Picture</label>
                  </div>
                  <div class="col-md-7">
                    <input type="file" file-model="cpForm.dp">
                  </div>
                </div>
              </div>
            </div>
          </div><br>
          <button type="button" class="btn btn-primary " ng-click="saveCustomerProfile()">Save</button>
        </div>
      </div>
    </div>


    <div ng-if="state=='Knowledge Base'">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <div class="btn btn-block {{docForm!=none&&docForm.title.length==0?'btn-warning':'btn-light'}}" ng-click="addDoc(-1)" style="font-size:18px">
                  Add Document &nbsp;<i class="fa fa-plus fa-lg"></i>
                </div>
              </div>
            </div>
            <hr>
            <div class="row" style="padding-top:15px">
              <div class="col-md-3">
                <div class="row" style="border-right:solid 2px #eeeeee;min-height:82vh;position:relative;" ng-if="custDocs.length>0||docForm!=none">
                  <div class="row text-center container-fluid card" ng-repeat="doc in custDocs" ng-click="addDoc($index)" style="cursor:pointer;font-size:18px;padding:10px;margin:20px 10px; {{docForm.pk==doc.pk?'background-color:#ffb22b':'background-color: #e9e9e9 !important;'}}">
                    {{doc.title}}
                  </div>
                </div>
              </div>
              <div class="col-md-9" style="padding-left:35px" ng-if="docForm!=none">
                <div class="row text-center">
                  <h4>{{docForm.pk!=none?'Edit':'Create'}} Document <span ng-if="docForm.pk!=none">- {{docForm.title}}</span></h4>
                </div>
                <div class="row">
                  <div class="form-group">
                    <label>Title</label>
                    <input type="text " class="form-control" ng-model="docForm.title">
                  </div>
                  <div class="form-group" ng-if="docForm.text!=null">
                    <label>Content</label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="docForm.text"></textarea>
                  </div>
                  <div class="form-group" ng-if="docForm.docs!=null">
                    <label>Document</label>
                    <input type="file" file-model="docForm.docs">
                  </div>
                </div>
                <div class="row" style="padding:20px">
                  <div class="col-md-2 col-md-offset-5">
                    <div class="btn btn-success" style="font-size:18px" ng-click="saveDoc()">
                      Save Document
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div ng-if="state=='Dashboard'">
      <div class="row">
        <!-- Column -->
        <div class="col-lg-8 col-md-7">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-wrap">
                    <div>
                      <h3 class="card-title">Sales Overview</h3>
                      <h6 class="card-subtitle">Ample Admin Vs Pixel Admin</h6> </div>
                    <div class="ml-auto">
                      <ul class="list-inline">
                        <li>
                          <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6> </li>
                        <li>
                          <h6 class="text-muted  text-info"><i class="fa fa-circle font-10 m-r-10"></i>Pixel</h6> </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="amp-pxl" style="height: 360px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Our Visitors </h3>
              <h6 class="card-subtitle">Different Devices Used to Visit</h6>
              <div id="visitor" style="height:290px; width:100%;"></div>
            </div>
            <div>
              <hr class="m-t-0 m-b-0">
            </div>
            <div class="card-body text-center ">
              <ul class="list-inline m-b-0">
                <li>
                  <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6> </li>
                <li>
                  <h6 class="text-muted  text-primary"><i class="fa fa-circle font-10 m-r-10"></i>Desktop</h6> </li>
                <li>
                  <h6 class="text-muted  text-success"><i class="fa fa-circle font-10 m-r-10"></i>Tablet</h6> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Row -->
      <!-- Row -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <div class="card blog-widget">
            <div class="card-body">
              <div class="blog-image"><img src="{% static 'customer/images/img1.jpg' %}" alt="img" class="img-responsive" /></div>
              <h3>Business development new rules for 2017</h3>
              <label class="label label-rounded label-success">Technology</label>
              <p class="m-t-20 m-b-20">
                Lorem ipsum dolor sit amet, this is a consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              </p>
              <div class="d-flex">
                <div class="read"><a href="javascript:void(0)" class="link font-medium">Read More</a></div>
                <div class="ml-auto">
                  <a href="javascript:void(0)" class="link m-r-10 " data-toggle="tooltip" title="Like"><i class="mdi mdi-heart-outline"></i></a> <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="Share"><i class="mdi mdi-share-variant"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-wrap">
                <div>
                  <h3 class="card-title">Newsletter Campaign</h3>
                  <h6 class="card-subtitle">Overview of Newsletter Campaign</h6>
                </div>
                <div class="ml-auto align-self-center">
                  <ul class="list-inline m-b-0">
                    <li>
                      <h6 class="text-muted text-success"><i class="fa fa-circle font-10 m-r-10 "></i>Open Rate</h6> </li>
                    <li>
                      <h6 class="text-muted text-info"><i class="fa fa-circle font-10 m-r-10"></i>Recurring Payments</h6> </li>
                  </ul>
                </div>
              </div>
              <div class="campaign ct-charts"></div>
              <div class="row text-center">
                <div class="col-lg-4 col-md-4 m-t-20">
                  <h1 class="m-b-0 font-light">5098</h1><small>Total Sent</small></div>
                <div class="col-lg-4 col-md-4 m-t-20">
                  <h1 class="m-b-0 font-light">4156</h1><small>Mail Open Rate</small></div>
                <div class="col-lg-4 col-md-4 m-t-20">
                  <h1 class="m-b-0 font-light">1369</h1><small>Click Rate</small></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Row -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-md-4">
          <div class="card card-inverse card-primary">
            <div class="card-body">
              <div class="d-flex">
                <div class="m-r-20 align-self-center">
                  <h1 class="text-white"><i class="ti-pie-chart"></i></h1></div>
                <div>
                  <h3 class="card-title">Bandwidth usage</h3>
                  <h6 class="card-subtitle">March  2017</h6> </div>
              </div>
              <div class="row">
                <div class="col-4 align-self-center">
                  <h2 class="font-light text-white">50 GB</h2>
                </div>
                <div class="col-8 p-t-10 p-b-20 align-self-center">
                  <div class="usage chartist-chart" style="height:65px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-md-4">
          <div class="card card-inverse card-success">
            <div class="card-body">
              <div class="d-flex">
                <div class="m-r-20 align-self-center">
                  <h1 class="text-white"><i class="icon-cloud-download"></i></h1></div>
                <div>
                  <h3 class="card-title">Download count</h3>
                  <h6 class="card-subtitle">March  2017</h6> </div>
              </div>
              <div class="row">
                <div class="col-4 align-self-center">
                  <h2 class="font-light text-white">35487</h2>
                </div>
                <div class="col-8 p-t-10 p-b-20 text-right">
                  <div class="spark-count" style="height:65px"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-4 col-md-4">
          <div class="card">
            <img class="" src="{% static 'customer/images/weatherbg.jpg' %}" alt="Card image cap">
            <div class="card-img-overlay" style="height:110px;">
              <h3 class="card-title text-white m-b-0 dl">New Delhi</h3>
              <small class="card-text text-white font-light">Sunday 15 march</small>
            </div>
            <div class="card-body weather-small">
              <div class="row">
                <div class="col-8 b-r align-self-center">
                  <div class="d-flex">
                    <div class="display-6 text-info"><i class="wi wi-day-rain-wind"></i></div>
                    <div class="m-l-20">
                      <h1 class="font-light text-info m-b-0">32<sup>0</sup></h1>
                      <small>Sunny Rainy day</small>
                    </div>
                  </div>
                </div>
                <div class="col-4 text-center">
                  <h1 class="font-light m-b-0">25<sup>0</sup></h1>
                  <small>Tonight</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
      <!-- Row -->
      <!-- Row -->
      <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <!-- Column -->
          <div class="card">
            <img class="card-img-top" src="{% static 'customer/images/profile-bg.jpg' %}" alt="Card image cap">
            <div class="card-body little-profile text-center">
              <div class="pro-img"><img src="{% static 'customer/images/4.jpg' %}" alt="user" /></div>
              <h3 class="m-b-0">Angela Dominic</h3>
              <p>Web Designer &amp; Developer</p>
              <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Follow</a>
              <div class="row text-center m-t-20">
                <div class="col-lg-4 col-md-4 m-t-20">
                  <h3 class="m-b-0 font-light">1099</h3><small>Articles</small></div>
                <div class="col-lg-4 col-md-4 m-t-20">
                  <h3 class="m-b-0 font-light">23,469</h3><small>Followers</small></div>
                <div class="col-lg-4 col-md-4 m-t-20">
                  <h3 class="m-b-0 font-light">6035</h3><small>Following</small></div>
              </div>
            </div>
          </div>
          <!-- Column -->
          <div class="card">
            <div class="card-body bg-info">
              <h4 class="text-white card-title">My Contacts</h4>
              <h6 class="card-subtitle text-white m-b-0 op-5">Checkout my contacts here</h6>
            </div>
            <div class="card-body">
              <div class="message-box contact-box">
                <h2 class="add-ct-btn"><button type="button" class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</button></h2>
                <div class="message-widget contact-widget">
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <img src="{% static 'customer/images/1.jpg' %}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Pavan kumar</h5> <span class="mail-desc">info@wrappixel.com</span></div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <img src="{% static 'customer/images/2.jpg' %}" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span></div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <span class="round">A</span> <span class="profile-status away pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Arijit Sinh</h5> <span class="mail-desc">cruise1298.fiplip@gmail.com</span></div>
                  </a>
                  <!-- Message -->
                  <a href="#">
                    <div class="user-img"> <img src="{% static 'customer/images/4.jpg' %}" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                    <div class="mail-contnet">
                      <h5>Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
              <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Activity</a> </li>
              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a> </li>
              <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="home" role="tabpanel">
                <div class="card-body">
                  <div class="profiletimeline">
                    <div class="sl-item">
                      <div class="sl-left"> <img src="{% static 'customer/images/1.jpg' %}" alt="user" class="img-circle"> </div>
                      <div class="sl-right">
                        <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                          <p>assign a new task <a href="#"> Design weblayout</a></p>
                          <div class="row">
                            <div class="col-lg-3 col-md-6 m-b-20"><img src="{% static 'customer/images/img1.jpg' %}" alt="user" class="img-responsive radius"></div>
                            <div class="col-lg-3 col-md-6 m-b-20"><img src="{% static 'customer/images/img2.jpg' %}" alt="user" class="img-responsive radius"></div>
                            <div class="col-lg-3 col-md-6 m-b-20"><img src="{% static 'customer/images/img3.jpg' %}" alt="user" class="img-responsive radius"></div>
                            <div class="col-lg-3 col-md-6 m-b-20"><img src="{% static 'customer/images/img4.jpg' %}" alt="user" class="img-responsive radius"></div>
                          </div>
                          <div class="like-comm"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="sl-item">
                      <div class="sl-left"> <img src="{% static 'customer/images/2.jpg' %}" alt="user" class="img-circle"> </div>
                      <div class="sl-right">
                        <div> <a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                          <div class="m-t-20 row">
                            <div class="col-md-3 col-xs-12"><img src="{% static 'customer/images/img1.jpg' %}" alt="user" class="img-responsive radius"></div>
                            <div class="col-md-9 col-xs-12">
                              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. </p> <a href="#" class="btn btn-success"> Design weblayout</a></div>
                          </div>
                          <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="sl-item">
                      <div class="sl-left"> <img src="{% static 'customer/images/3.jpg' %}" alt="user" class="img-circle"> </div>
                      <div class="sl-right">
                        <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                          <p class="m-t-10"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec
                            tellus sed augue semper </p>
                        </div>
                        <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">2 comment</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 5 Love</a> </div>
                      </div>
                    </div>
                    <hr>
                    <div class="sl-item">
                      <div class="sl-left"> <img src="{% static 'customer/images/4.jpg' %}" alt="user" class="img-circle"> </div>
                      <div class="sl-right">
                        <div><a href="#" class="link">John Doe</a> <span class="sl-date">5 minutes ago</span>
                          <blockquote class="m-t-10">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--second tab-->
              <div class="tab-pane" id="profile" role="tabpanel">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
                      <br>
                      <p class="text-muted">Johnathan Deo</p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
                      <br>
                      <p class="text-muted">(123) 456 7890</p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
                      <br>
                      <p class="text-muted">johnathan@admin.com</p>
                    </div>
                    <div class="col-md-3 col-xs-6"> <strong>Location</strong>
                      <br>
                      <p class="text-muted">London</p>
                    </div>
                  </div>
                  <hr>
                  <p class="m-t-30">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Cras dapibus. Vivamus elementum semper
                    nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries </p>
                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                  <h4 class="font-medium m-t-30">Skill Set</h4>
                  <hr>
                  <h5 class="m-t-30">Wordpress <span class="pull-right">80%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="m-t-30">HTML 5 <span class="pull-right">90%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="m-t-30">jQuery <span class="pull-right">50%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                  </div>
                  <h5 class="m-t-30">Photoshop <span class="pull-right">70%</span></h5>
                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;"> <span class="sr-only">50% Complete</span> </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="settings" role="tabpanel">
                <div class="card-body">
                  <form class="form-horizontal form-material">
                    <div class="form-group">
                      <label class="col-md-12">Full Name</label>
                      <div class="col-md-12">
                        <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="example-email" class="col-md-12">Email</label>
                      <div class="col-md-12">
                        <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-12">Password</label>
                      <div class="col-md-12">
                        <input type="password" value="password" class="form-control form-control-line">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-12">Phone No</label>
                      <div class="col-md-12">
                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-12">Message</label>
                      <div class="col-md-12">
                        <textarea rows="5" class="form-control form-control-line"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-12">Select Country</label>
                      <div class="col-sm-12">
                        <select class="form-control form-control-line">
                                                    <option>London</option>
                                                    <option>India</option>
                                                    <option>Usa</option>
                                                    <option>Canada</option>
                                                    <option>Thailand</option>
                                                </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <button class="btn btn-success">Update Profile</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- <div class="right-sidebar">
      <div class="slimscrollright">
        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>With Light sidebar</b></li>
            <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
            <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
            <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
            <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme working">4</a></li>
            <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
            <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
            <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
            <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
            <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
            <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
            <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
            <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
            <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
          </ul>
          <ul class="m-t-20 chatonline">
            <li><b>Chat option</b></li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/1.jpg' %}" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
            </li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/2.jpg' %}" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
            </li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/3.jpg' %}" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
            </li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/4.jpg' %}" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
            </li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/5.jpg' %}" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
            </li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/6.jpg' %}" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
            </li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/7.jpg' %}" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
            </li>
            <li>
              <a href="javascript:void(0)"><img src="{% static 'customer/images/8.jpg' %}" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
  </div>
</div>
{% endverbatim %}
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->

{% endblock %}
