<div class=" bg-white" style="min-height:93vh;position:relative;">

  <breadcrumb></breadcrumb>
  <div class="col-md-9">
    <generic-Calendar date="date" day-Items="data.items" item-Templates="{{templates}}" day-Clicked="showDay" item-Clicked="showPerticular"></generic-Calendar>
  </div>
  <div class="col-md-3" style="position:absolute; height:100%;top:0px;right:0px;background-color:var(--themeMain);color:white;">
    <div class="row" style="background-color:var(--themeMain);color:white;">

      <div class="dayDetails">
        <div class="sideBarDate"><i class="fa fa-calendar fa-2x pull-left"></i>{{date | date : 'dd MMM yyyy'}} </div>
        {{date | date :'EEEE'}}
        <span style="position:absolute;top:10px;right:10px"><i class="fa fa-plus noselect" ng-click="openForm()"></i></span>
      </div>

    </div>
    <div class="row bg-purple dayInfoBox" style="max-height:350px;overflow:auto;">
      <!-- <div class=" dayDetails">
        <div class="">
          <i class="fa fa-clock-o fa fa-3x pull-left"></i> <i class="fa fa-sign-in"></i> : 2:26pm
        </div>
        <div class="">
          <i class="fa fa-sign-out"></i> : 3:00am
        </div>
      </div> -->
      <ul class="nav">
        <li>
          <a href="" ng-click="itemSelected($index)" ng-repeat="item in itemsToShow" class="{{itemsToShow.indexOf(itemInView)== $index ? 'highlighted':''}}">
            <i class="fa fa-users" ng-if="item.type == 'Meeting'"></i>
            <i class="fa fa-bell-o" ng-if="item.type == 'Reminder'"></i>
            {{item.type=='Meeting'? item.type : item.data.text | limitTo:30}}
            <span class="pull-right">
              <i class="fa fa-clock-o"></i> {{item.data.when | date:'hh mm a'}}
              <span  ng-if="item.type == 'Meeting'">
                <i class="fa fa-building-o"></i> {{item.data.venue}}
              </span>
            </span>
          </a>
        </li>
        <li ng-repeat="td in data.items" class="noselect" ng-if="td.type=='ToDo'">
          <span style="padding:10px 15px;;display:block;" class="inlistForm">
            <input  type="checkbox" ng-model="td.data.completed" ng-click="toggleToDo($index)">
            <span style="{{td.data.completed ? 'text-decoration:line-through;' : ''}}">{{td.data.text}}</span>
          <i class="glyphicon glyphicon-trash pull-right" ng-click="deleteToDo($index)"></i>
          </span>
        </li>
      </ul>
    </div>

    <div ng-if="['Reminder' , 'Meeting'].indexOf(itemInView.type)!=-1 " class="row container-fluid" style="padding-top:10px;padding-bottom:10px;">

      <div class="col-md-2">
        <i ng-if="itemInView.type == 'Meeting'" class="fa fa-users fa-3x" style="padding-top:10px"></i>
        <i ng-if="itemInView.type == 'Reminder'" class="fa fa-bell-o fa-3x" style="padding-top:10px"></i>
        <span class="dropdown" style="color:white;padding-left:18px;">
          <i style="cursor:pointer;" class="fa fa-gear dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="" ng-click = "edit()"><i class="fa fa-pencil"></i>  Edit</a></li>
            <li><a href="" ng-click = "delete()"><i class="fa fa-trash"></i>  Delete</a></li>
          </ul>
        </span>
      </div>
      <div class="col-md-10">
        <div class="row" style="padding-left:15px;">
          {{itemInView.data.text}}
        </div>
        <div class="row" style="padding-top:10px">
          <div class="col-md-2">
            <i class="fa fa-clock-o fa-lg"></i>
          </div>
          <div class="col-md-9">
            {{itemInView.data.when | date:'hh mm a'}}
          </div>
        </div>
        <div ng-if="itemInView.type == 'Meeting'">
          <div class="row" style="padding-top:10px">
            <div class="col-md-2">
              <i class="fa fa-compass fa-lg"></i>
            </div>
            <div class="col-md-9">
              {{itemInView.data.venue}}
            </div>
          </div>
          <div class="row" style="padding-top:10px" ng-if="itemInView.data.followers.length !=0">
            <span ng-repeat="f in itemInView.data.followers">
              <div class="col-md-6" style="margin-bottom:10px;">
                <div class="col-md-3">
                  <img ng-src="{{f | getDP}}" class="img img-circle" style="width:40px;height:40px;">
                </div>
                <div class="col-md-9" style="padding-top:10px;">
                  {{f | getName}}
                </div>
              </div>
            </span>
          </div>
          <div class="row" style="padding-top:20px" ng-if="itemInView.data.clients.length !=0">
            <div class="col-md-2 text-center">
              <div class="row">
                <span><i class="fa fa-users fa-lg"></i></span>
              </div>
              <div class="row">
                {{itemInView.data.originator}}
              </div>
            </div>
            <div class="col-md-10">
              <div class="col-md-12 row" style="margin-bottom:10px;" ng-repeat="c in itemInView.data.clients">
                <div class="col-md-2" style="padding:0px;margin:0px;">
                  <img style="width: 40px;height:40px;" class="img img-circle" ng-src="{{c | getCRMDP}}">
                </div>
                <div class="col-md-10" style="padding-top:3px;">
                  <span>{{c.name}}</span>
                  <br> <span>{{c.designation}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
