<div class=" bg-white" style="min-height:93vh;position:relative;">

  <breadcrumb></breadcrumb>

  <div class="container-fluid">
    <div class="col-md-9">
      <div class="container-fluid" style="padding:0px">
        <div class="row" style="height:150px;width:100%;border-bottom:1px solid #eeeeee">
          <div class="container-fluid">
            <div class="row">

              <div class="col-md-12">
                <ul class="pager">
                  <div class="col-md-1">

                    <li class="previous {{pageNo == 0? 'disabled':''}}">
                      <a href="" ng-click="prev()" style="margin-top: 35px;"><span aria-hidden="true"></span> <i class="fa fa-angle-left" style="color:black;font-size:35px"></i></a>
                    </li>
                  </div>
                  <div class="col-md-10">

                    <div class="col-md-2" ng-repeat="d in dates" style="cursor:pointer;margin-left:30px;margin-bottom:15px;" ng-click="selectDate($index)">
                      <div class="container-fluid card {{$index == selectIndex ? 'bg-blue' : ''}} " style="border-radius:50px;padding:15px;">
                        <span>{{d | date:'dd MMM'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1">

                    <li class="next {{disableNext? 'disabled':''}}">
                      <a href="" style="margin-top: 35px;" ng-click="next()"><i class="fa fa-angle-right" style="color:black;font-size:35px"></i> <span aria-hidden="true"></span></a>
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid" style="margin-top:30px">
          <table class="invoiceTable" style=" width: 100%;border-collapse: collapse;" ng-if="timeSheet.status != 'approved'">
            <tr style="background-color: #eeeeee;height: 96px;">
              <th>S.No</th>
              <th>Project</th>
              <th>Time(Hrs.)</th>
              <th>Details</th>
              <th></th>
            </tr>
            <tr ng-repeat="item in items">
              <td>{{$index + 1}}</td>
              <td>
                <input uib-typeahead="p as p.title for p in projectSearch($viewValue)" ng-model="item.project" type="text" class="form-control-pos">
                <td>
                  <input type="number" step=".01" class="form-control-pos" ng-model="item.duration">
                </td>
                <td>
                  <textarea type="text" class="form-control-pos" ng-model="item.comment"></textarea>
                </td>
                <td>
                  <button ng-if="timeSheet.status =='created'" type="button" class="btn btn-danger btn-sm" ng-click="deleteTable($index)"> <i class="fa fa-trash"></i> </button>
                </td>
            </tr>
            <tr>
              <td>
                <div class="container-fluid" style="padding:0px;">
                  <button style="background-color:white;border:none;" ng-click="addTableRow()"><i class="fa fa-plus" aria-hidden="true"  style="cursor:pointer"></i>
                      </button>
                </div>
              </td>
              <td style="border:none;"></td>
              <td>{{totalTime()}} Hrs.</td>
              <td style="border:none;"></td>
              <td style="border:none;"></td>
            </tr>
          </table>

          <table class="table table-bordered" ng-if="timeSheet.status == 'approved'">
            <thead>
              <tr>
                <th class="text-center">S.No</th>
                <th class="text-center">Project</th>
                <th class="text-center">Time(Hrs.)</th>
                <th class="text-center">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in items">
                <td>{{$index + 1}}</td>
                <td>{{item.project.title}}</td>
                <td>{{item.duration}}</td>
                <td>{{item.comment}}</td>
              </tr>
              <tr>
                <td></td>
                <td style="border:none;">Total time:</td>
                <td>{{totalTime()}} Hrs.</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>


        <div class="row">
          <div class="container-fluid" style="padding-top:20px">
            <div class="row text-center" style="padding:20px" ng-if="timeSheet.status =='created'">
              <button type="button" class="btn btn-success" ng-click="save()">Save</button>
              <button type="button" class="btn btn-default" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="Submit()" confirm-button-type="danger" cancel-button-type="default" style="cursor:pointer;">Submit</button>
            </div>
            <div class="row text-center" ng-if="timeSheet.status =='submitted'" style="padding:20px">
              <button type="button" class="btn btn-info">Sent for Approval</button>
            </div>
            <div class="row text-center" ng-if="timeSheet.status =='approved'" style="padding:20px">
              <button type="button" class="btn btn-success">Approved</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3" style="position:absolute; height:100%;right:0px">

      <div class="row text-center">
        <h3 class="text-muted">{{dates[selectIndex] | date : 'dd MMM yyyy'}}</h3>
      </div>

      <div class="row">
        <div class="container-fluid" style="padding-bottom:40px">
          <div class="row">
            <div class="col-md-{{btnTyp == '' || btnTyp.checkIn == null ? '12' : '6'}} text-center" style="padding:10px">
              <button type="button" class="btn btn-default" style="width:100%" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="checkin()" confirm-button-type="danger" cancel-button-type="default"
                style="position:relative;top:30px;right:-15px;cursor:pointer;" ng-if="Checkinshow && (btnTyp == '' || btnTyp.checkIn == null)">Checkin</button>
              <span ng-if="btnTyp != '' && btnTyp.checkIn != null ">{{btnTyp.checkIn | date : 'dd MMM yyyy'}}<br>{{btnTyp.checkIn | date : 'hh:mm:a'}}<span>
            </div>
            <div class="col-md-6 text-center" style="padding:10px">
              <button type="button" class="btn btn-default" style="width:100%" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="checkout()" confirm-button-type="danger" cancel-button-type="default"
                style="position:relative;top:30px;right:-15px;cursor:pointer;" ng-if="btnTyp != '' && btnTyp.checkIn != null && btnTyp.checkOut == null">Checkout</button>
              <span ng-if="btnTyp != '' && btnTyp.checkOut != null">{{btnTyp.checkOut | date : 'dd MMM yyyy'}}<br>{{btnTyp.checkOut | date : 'hh:mm:a'}}<span>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-md-12 " style="margin-bottom:10px;" ng-repeat="p in projects">
            <div class="card" style="padding:10px;min-height:150px;background-color:white;color:black">
              <h4>{{p.title}}</h4>
              <small>Due date : {{p.dueDate | date : 'dd MMM yyyy'}}</small>
              <div>
                <hr>
                <strong>Project :</strong> {{p.description}} <br>
              </div>
              <i class="fa fa-plus-circle fa-3x" ng-click="addProjects($index)" style="position:absolute;right:20px;bottom:10px;cursor:pointer;"></i>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>


</div>
