<div class=" bg-white" style="min-height:93vh;">
  <breadcrumb></breadcrumb>
  <div class="container-fluid">
    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          New Advisors <i class="fa fa-plus"></i>
        </uib-tab-heading>
        <generic-Form template="'/static/ngTemplates/app.HR.form.newUser.html'" data="newUser" submit-Fn="createUser()" form-title="'Create New Advisor'"></generic-Form>
      </uib-tab>


      <uib-tab active="searchTabActive">
        <uib-tab-heading>
          Advisors <i ng-if="tab.cancel" class="fa fa-search"></i>
        </uib-tab-heading>
        <generic-Table callback-Fn="tableAction" data="data.tableData" config-Obj="{{config}}"></generic-Table>
      </uib-tab>

      <uib-tab>
        <uib-tab-heading>
          New Clients <i class="fa fa-plus"></i>
        </uib-tab-heading>
        <!-- <generic-Form template="'/static/ngTemplates/app.HR.form.createCustomer.html'"  form-title="'Create New Customer'"></generic-Form> -->
        <div ng-include="'/static/ngTemplates/app.HR.form.createCustomer.html'" ></div>

      </uib-tab>


      <uib-tab>
        <uib-tab-heading>
          Clients <i ng-if="tab.cancel" class="fa fa-search"></i>
        </uib-tab-heading>
        <generic-Table callback-Fn="tableActionCustomer" data="dataCustomer.tableDataCustomer" config-Obj="{{configCustomer}}"></generic-Table>
      </uib-tab>


      <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
        <uib-tab-heading>
          {{tab.title}} <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
        </uib-tab-heading>
        <div ng-if="tab.app == 'editProfile'">
          <div ng-include="'/static/ngTemplates/app.HR.form.userProfile.html'"></div>
        </div>
        <div ng-if="tab.app == 'editMaster'">
          <generic-Form template="'/static/ngTemplates/app.HR.form.editMaster.html'" data="tab.data" submit-Fn="updateUserMasterDetails($index)" form-title="tab.title"></generic-Form>
        </div>
        <div ng-if="tab.app == 'editPermissions'">
          <div ng-include="'/static/ngTemplates/app.HR.form.editPermissions.html'"></div>
        </div>

        <div ng-if="tab.app == 'editDesignation'">
          <div ng-include="'/static/ngTemplates/app.HR.form.editDesignation.html'" data="tab.data" submit-Fn="editDesignation($index)" form-title="tab.title"></div>
        </div>

        <!-- <div ng-if="tab.app == 'editPayroll'">
          <div ng-include="'/static/ngTemplates/app.HR.form.editPayroll.html'"></div>

        </div> -->
        <div ng-if="tab.app == 'viewProfile'">
          <div ng-include="'/static/ngTemplates/app.HR.manage.users.explore.html'"></div>
        </div>
        <div ng-if="tab.app == 'editCustomerForm'">
          <div ng-include="'/static/ngTemplates/app.HR.form.createCustomer.html'" data="tab.data" ></div>
        </div>

      </uib-tab>
    </uib-tabset>
  </div>
</div>
