<div class="shaddowed card bg-white" style="min-height:93vh; position:relative;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
    <div class="container-fluid">
      <uib-tabset>
        <!-- <uib-tab>
          <uib-tab-heading>
            New <i class="fa fa-plus"></i>
          </uib-tab-heading>
          <div style="margin-top:20px;" ng-include="'/static/ngTemplates/app.recruitment.jobs.form.html'">
          </div>
        </uib-tab>
        <uib-tab>
          <uib-tab-heading>
            Active <i class="fa fa-list-ul"></i>
          </uib-tab-heading> -->
          <!-- <div style="margin-top:20px;" ng-include="'/static/ngTemplates/'">
          </div> -->
        <!-- </uib-tab> -->
        <uib-tab active="searchTabActive">
          <uib-tab-heading>
            All
            <i class="fa fa-list-ul"></i>
          </uib-tab-heading>
          <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
    </uib-tab>
    <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
      <uib-tab-heading>
        {{tab.title}}
        <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
      </uib-tab-heading>
      <div ng-if="tab.app == 'interviewBrowse'">
        <div ng-include="'/static/ngTemplates/app.recruitment.interview.explore.html'"></div>
      </div>
    </uib-tab>
    </uib-tabset>
  </div>
</div>
</div>
