<div class="col-md-3" style="padding-bottom:20px;padding-left:10px;padding-right:10px;">
  <div class="container-fluid card" style="padding-bottom:0px;">
    <div class="row" style="border-bottom: 1px solid #dedede;padding-left: 20px;">
      <strong> Candidate:</strong>{{data.candidate.firstname}} {{data.candidate.lastname}}<br>
      <strong>Schedule:</strong> {{data.interviewDate}} <br>
      <strong>Applied For:</strong> {{data.candidate.job.role.name}}<br>
    </div>
    <div class="row container-fluid" style="padding-top:20px;height:70px;">
      <i class="fa fa-info-circle fa-2x text-primary pull-right" style="cursor:pointer;" ng-click="rowActionClicked('interviewBrowse')"></i>
    </div>
  </div>
</div>
