<div class="modal-header bg-blue">
  <div class="container-fluid">
    <h4>
      <span class="pull-right">
      Resume : {{resumes.firstname}} {{resumes.lastname}}
      </span>
      <i class="fa fa-arrow-circle-o-left pull-left fa-lg" ng-click="cancel()" style="cursor:pointer;"></i>
    </h4>
  </div>
</div>
<object data='{{resumes.resume}}' type='application/pdf' width='100%' height='100%'/>
