<div ng-controller="workforceManagement.recruitment.roles.form">
  <div class="container-fluid">
    <h3 ng-if="mode == 'edit'">Edit Job: <strong>{{form.jobtype}}</strong></h3>
    <h3 ng-if="mode == 'new'">Create a new job</h3>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Job Type</label>
      <select class="form-control" ng-model="form.jobtype">
        <option value="Full Time">Full Time</option>
        <option value="Contract">Contract</option>
        <option value="Intern">Intern</option>
      </select>
    </div>

    <div class="form-group">
      <label>Unit</label>
      <input type="text " class="form-control" ng-model="form.unit" uib-typeahead="d as d.name for d in unitsSearch($viewValue)">
    </div>

    <div class="form-group" >
      <label>Department</label>
      <input type="text " class="form-control" ng-model="form.department"  uib-typeahead="d as d.dept_name for d in departmentSearch($viewValue)">
    </div>

    <div class="form-group" >
      <label>Position</label>
      <input type="text " class="form-control" ng-model="form.role" uib-typeahead="d as d.name for d in roleSearch($viewValue)">
    </div>

    <!-- <div class="form-group" >
      <label>Contact</label>
      <input type="text " class="form-control" ng-model="form.contact" >
    </div> -->
      <users-Field data="form.contacts" url="/api/HR/userSearch/" col="4" label="Contacts"></users-Field>

    <div class="form-group" >
      <label>Maximum CTC</label>
      <input type="text " class="form-control"  ng-model="form.maximumCTC"></textarea>
    </div>

    <div class="form-group">
      <label>Skills Required</label>
      <textarea ui-tinymce="tinymceOptions" ng-model="form.skill"></textarea>
    </div>

    <div class="btn-group pull-right">
      <button type="button" ng-if="!form.pk" class="btn btn-default" ng-click="resetForm()">
          Reset
        </button>
      <button type="button" class="btn btn-primary pull-right" ng-click="saveJobs()">Save</button>
    </div>
  </div>



</div>
