<div ng-controller="recruitment.applicant.view" style="padding-top:20px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <span style="font-size:20px;"><i class="fa fa-user"></i> {{applicant.firstname | humanize}} {{applicant.lastname}}</span> <br>
        <span style="font-size:17px;"><i class="fa fa-envelope"></i> {{applicant.email}}</span></br>
        <span style="font-size:17px;"><i class="fa fa-phone"></i> {{applicant.mobile}}</span></br>
        <span style="font-size:25px;" ng-if="applicant.status=='TechicalInterview'"><i class="fa fa-desktop"></i> Technical Interview</span>
        <span style="font-size:25px;" ng-if="applicant.status=='HRInterview'"><i class="fa fa-user-circle-o "></i> HR Interview</span>
        <span style="font-size:25px;" ng-if="applicant.status=='Negotiation'"><i class="fa fa-bars "></i> Negotiation</span>
        </br>
        <div class="row">
          <!-- <div class="col-md-12" style="padding-bottom:20px" ng-if="applicant.dateOfJoin">
            <label> Compensation Details : </label>
            <div class="container-fluid card" style="padding:10px;margin-top:20px;">
              <div class="row">
                <div class="col-md-12">
                  <strong>Date Of Joining : </strong> {{applicant.dateOfJoin | date : 'dd MMM yyyy , hh:mm:a'}}</br>
                  <strong>Sallary: </strong> {{applicant.sallary}}</br>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-md-12" style="padding-bottom:20px">
            <label> Applied History : </label>
            <div class="container-fluid card" style="padding:10px;margin-top:20px;" ng-repeat="h in pastApplyHistory">
              <div class="row">
                <div class="col-md-12">
                  <strong>Applied On : </strong> {{h.created | date : 'dd MMM yyyy , hh:mm:a'}}</br>
                  <strong>Job Type : </strong> {{h.job.jobtype}}</br>
                  <strong>Department : </strong> {{h.job.department.dept_name}}</br>
                  <strong>Job Role : </strong> {{h.job.role.name}}</br>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <label>  Schedule: </label>
            <div class="container-fluid card" style="padding:10px;margin-top:20px;" ng-repeat="c in schedules" ng-style="{'background-color': c.status === 'suitable' ? 'rgb(171, 237, 172)' : '' || c.status === 'un-suitable' ? 'rgb(237, 170, 164)' : ''||c.status === 'created' ? 'rgb(189, 182, 181)' : '' || c.status === 'recommand-other-job' ? 'rgb(162, 239, 246)' : ''}">
              <div class="row">
                <div class="col-md-6">
                  <i class="fa fa-users"></i> {{c.interviewer.first_name}} {{c.interviewer.last_name}}</br>
                  <i class="fa fa-calendar"></i> {{c.interviewDate | date : 'dd MMM yyyy , hh:mm:a'}}</br>
                  <i class="fa fa-phone" ng-if="c.mode=='telephonic'"></i> <i class="fa fa-user-o" ng-if="c.mode=='face-to-face'"></i> {{c.mode}}</br>
                </div>
                <div class="col-md-6 text-right">
                  <i class="fa  fa-check-circle fa-2x text-success" ng-if="c.status=='suitable'"></i>
                  <i class="fa  fa-check-circle fa-2x text-danger" ng-if="c.status=='un-suitable'"></i>
                  <i class="fa  fa-check-circle fa-2x text-default" ng-if="c.status=='created'"></i>
                  <i class="fa  fa-check-circle fa-2x text-primary" ng-if="c.status=='recommand-other-job'"></i>
                </div>
              </div>
              <div class="row" ng-if="c.comment">
                <div class="col-md-12 text-center" style="font-size:15px">
                  <i class="fa fa-comment"></i> {{c.comment}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row" style="margin-top:20px">
          <div class="col-md-12 text-right">
            <div class="btn-group">
              <button class="btn btn-danger pull-right" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="rejected()" confirm-button-type="danger" cancel-button-type="default" style="width:150px"><i class="fa fa-times"> Reject</i></button>
              <button class="btn btn-success pull-right" ng-click="sendSMS()" style="width:150px"><i class="fa fa-envelope"> Send SMS</i></button>
              <button class="btn btn-primary pull-right" ng-click="sendMail()" style="width:150px"><i class="fa fa-paper-plane"> Send Email</i></button>
              <button ng-if="applicant.status!='Negotiation'" class="btn btn-default pull-right" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="onlineTest()" confirm-button-type="primary"
                cancel-button-type="default" style="width:200px"><i class="fa fa-pencil-square-o "> Send Test Link</i></button>
              <button ng-if="applicant.joiningDate" class="btn btn-default pull-right" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-flag'></i>" cancel-text="No" on-confirm="offer()" confirm-button-type="primary" cancel-button-type="default"
                style="width:200px"><i class="fa fa-flag "> Send Offer Letter</i></button>
              <a href="/api/recruitment/downloadCallLeter/?value={{applicant.pk}}" target="_blank"><button  ng-if="applicant.joiningDate" class="btn btn-primary pull-right"><i class="fa fa-download "></i></button></a>
            </div>
          </div>
        </div>
        <div class="row" style="margin:30px 10px">
          <div class="col-md-10 col-md-offset-1" ng-if="applicant.status!='Negotiation'">
            <label>Interviewer: </label>
            <input ng-model="form.interviewer" uib-typeahead="interviewer as getName(interviewer) for interviewer in interviewerSearch($viewValue)" type="text" class="form-control" placeholder="Search using name">
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label class="control-label col-sm-1" style="margin-top:40px;padding:0px;">Date : </label>
                  <div class="col-md-6">
                    <div class="input-group" style="margin-top:35px;">
                      <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="form.interviewDate" is-open="status.opened" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="row container-fluid">
                      <uib-timepicker ng-model="form.interviewDate" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group" style="margin-top:35px;">
                  <label>Mode : </label>
                  <label class="radio-inline"> &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio"  ng-model="form.mode" value="telephonic"> <i class="fa fa-phone fa-2x" style="padding-left:15px"></i></label>
                  <label class="radio-inline"><input type="radio" ng-model="form.mode" value="face-to-face"> <i class="fa fa-users fa-2x" style="padding-left:15px"></i></label>
                </div>
              </div>
            </div>
            <div class="row text-center" style="padding-top:20px">
              <button class="btn btn-primary" ng-click="schedule()"> Schedule</button><br/><br/>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1" ng-if="applicant.status=='Negotiation'">
            <label>Sallary Details: </label>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Basic: </label>
                  <input ng-model="applicant.basic" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>HRA: </label>
                  <input ng-model="applicant.hra" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>LTA: </label>
                  <input ng-model="applicant.lta" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Special Allowance: </label>
                  <input ng-model="applicant.special" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Tax Slab %: </label>
                  <input ng-model="applicant.taxSlab" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>AdHOC: </label>
                  <input ng-model="applicant.adHoc" type="text" class="form-control">
                </div>
              </div>
            </div>
            <label>Leaves: </label>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Annual Leaves: </label>
                  <input ng-model="applicant.al" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Medical Leaves: </label>
                  <input ng-model="applicant.ml" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>AdHOC Leaves: </label>
                  <input ng-model="applicant.adHocLeaves" type="text" class="form-control">
                </div>
              </div>
            </div>
            <label>Other Details: </label>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Medical Insurance Amount: </label>
                  <input ng-model="applicant.amount" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Notice Period(Days): </label>
                  <input ng-model="applicant.notice" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Probation Period(Days): </label>
                  <input ng-model="applicant.probation" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Notice Period Probation(Days): </label>
                  <input ng-model="applicant.probationNotice" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4" style="margin-top:25px;padding-left:10px">
                <input type="checkbox" ng-model="applicant.off">
                <span>Saturday Off</span>
              </div>
              <div class="col-md-4" style="margin-top:25px;padding-left:10px">
                <input type="checkbox" ng-model="applicant.noticePeriodRecovery">
                <span>Notice Period Recovery</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label col-sm-2" style="margin-top:40px;padding:0px;">Joining Date: </label>
                  <div class="col-md-9">
                    <div class="input-group" style="margin-top:35px;">
                      <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="applicant.joiningDate" is-open="status.opened" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-center" style="padding-top:20px">
              <button class="btn btn-primary" ng-click="saveData()" style="width:100px"> Save</button><br/><br/>
            </div>
          </div>
        </div>
        <div class="row">
          <span class="text-center" ng-if="applicant.resume.length>0"><h2>Resume</h2></span>
          <div class="col-md-12">
            <object data='{{applicant.resume}}' type='application/pdf' width='100%' style="height:750px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
