<div class="modal-header">
  <h3 class="text-center">Send An Email</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Subject</label>
    <input type="text" class="form-control" ng-model="form.subject">
  </div>
  <div class="form-group">
    <label>Message:</label>
    <textarea ui-tinymce="tinymceOptions" ng-model="form.email"></textarea>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="send()" confirm-button-type="primary" cancel-button-type="default">
      Send
    </button>
  </div>
</div>
