<div class="modal-header">
  <h3 class="text-center">Send An SMS</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label>Message:</label>
    <textarea class="form-control" rows="8" ng-model="form.message"></textarea>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary"  mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="sendSMS()" confirm-button-type="primary" cancel-button-type="default">
     Send
    </button>
  </div>
</div>
