<div ng-controller="recruitment.jobs.selected">
  <div class="row" style="padding:15px">
    <div class="text-center col-md-4 boardHeader {{$index | rainbow}}" ng-repeat="c in columns">
      <span style="font-size:17px;"><i class="fa {{c.icon}} fa-lg" style="margin-right:15px;"></i> {{c.text}}</span>
    </div>
  </div>
  <div class="row" style="padding:15px">
    <div class="col-md-4" ng-repeat="col in columns">
      <div class="row" style="min-height:50vh;" ng-drop="true" ng-drop-success="onDropComplete($data,$event , $index);">
        <div ng-click="exploreApplicant(c , $event)" class="card draggable dealCard" ng-drag="true" ng-drag-data="c" data-allow-transform="true" ng-repeat="c in data[col.cat]" style="font-size:24px;padding-left:25px;">
          <i class="fa fa-user"></i> {{c.firstname | humanize}}<br>
          <i class="fa fa-envelope"></i> {{c.email}}<br>
          <i class="fa fa-phone"></i> {{c.mobile}}<br>
        </div>
      </div>
    </div>
  </div>
</div>
