<div class="container-fluid" ng-controller="workforceManagement.organization.roles.form">
  <div class="row">
    <div class="col-md-6">
      <h3 class="modal-title" ng-if="mode == 'edit'">Edit Role : <strong>{{form.name}}</strong></h3>
      <h3 class="modal-title" ng-if="mode == 'new'">Create a new Role</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Designation</label>
        <input type="text" class="form-control" ng-model="form.name" placeholder="enter name">
      </div>

      <div class="form-group">
        <label>Department</label>
        <input uib-typeahead="department as department.dept_name for department in depSearch($viewValue)" ng-model="form.department" type="text" class="form-control" placeholder="Select department">
      </div>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" ng-if="!form.pk" ng-click="resetForm()">
          Reset
        </button>
        <button type="button" class="btn btn-primary pull-right" ng-click="save()">Save</button>
      </div>
    </div>
  </div>
</div>
