<div class="container-fluid" ng-controller="workforceManagement.organization.departments.form">
  <div class="row">
    <div class="col-md-6">
      <h3 class="modal-title" ng-if="mode == 'edit'">Edit Department : <strong>{{form.dept_name}}</strong></h3>
      <h3 class="modal-title" ng-if="mode == 'new'">Create a new Department</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">

      <div class="form-group">
        <label>Department name</label>
        <input type="text" class="form-control" ng-model="form.dept_name" placeholder="enter department name">
      </div>



      <div class="form-group">
        <label>Mobile</label>
        <input type="text " class="form-control" ng-model="form.mobile" placeholder="enter mobile number">
      </div>

      <div class="form-group">
        <label>Telephone</label>
        <input type="text " class="form-control" ng-model="form.telephone" placeholder="enter telephone">
      </div>

      <div class="form-group">
        <label>FAX</label>
        <input type="text " class="form-control" ng-model="form.fax" placeholder="enter FAX">
      </div>

      <users-Field data="form.contacts" url="/api/HR/userSearch/" col="4" label="Contacts"></users-Field>

      <label>Units</label>
      <div class="input-group">
        <input uib-typeahead="units as units.name for units in unitsSearch($viewValue)" ng-model="form.units" type="text" class="form-control" placeholder="Select units">
        <span class="input-group-btn"> <button type="button" class="btn btn-success" ng-click="unititem()">Add <i class="fa fa-plus"></i></button>  </span>
      </div>
      <br>
      <div class="row">
        <div ng-repeat="it in unit">
          <div class="card col-md-3" style="margin:5px">
            <span>Name: {{ it.name }}<br>Pk:{{it.pk}}</span>
            <span class="fa fa-close pull-right" ng-click="deleteitem($index)"></span>
          </div>
        </div>
      </div>

      <br>
      <label>Picture</label>
      <div class="form-group">
        <input type="file" file-model="form.picture">
      </div>
      <!-- units -->
      <div class="row" style="margin-top:20px;">
        <div class="btn-group pull-right">
          <button type="button" ng-if="!form.pk" class="btn btn-default" ng-click="resetForm()">
                Reset
              </button>
          <button type="button" class="btn btn-primary pull-right" ng-click="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
