<div class="container-fluid" ng-controller="workforceManagement.organization.division.form">
  <!-- <div class="container-fluid">
        <h3 >Create a new job</h3>
      </div> -->
  <div class="row">
    <div class="col-md-6">
      <h3 class="modal-title" ng-if="mode == 'edit'">Edit Division : <strong>{{form.name}}</strong></h3>
      <h3 class="modal-title" ng-if="mode == 'new'">Create a new Division</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" ng-model="form.name" placeholder="enter name">
      </div>

      <div class="form-group">
        <label>Website</label>
        <input type="text " class="form-control" ng-model="form.website" placeholder="enter website">
      </div>

      <users-Field data="form.contacts" url="/api/HR/userSearch/" col="4" label="Contacts"></users-Field>

      <div class="form-group">
        <label>GSTIN</label>
        <input type="text " class="form-control" ng-model="form.gstin" placeholder="enter GSTIN">
      </div>

      <div class="form-group">
        <label>PAN</label>
        <input type="text " class="form-control" ng-model="form.pan" placeholder="enter PAN number">
      </div>

      <div class="form-group">
        <label>CIN</label>
        <input type="text " class="form-control" ng-model="form.cin" placeholder="enter CIN">
      </div>

      <div class="form-group">
        <label>L1</label>
        <input type="text " class="form-control" ng-model="form.l1" placeholder="enter L1">
      </div>

      <div class="form-group">
        <label>L2</label>
        <input type="text " class="form-control" ng-model="form.l2" placeholder="enter L2">
      </div>

      <div class="form-group">
        <label>Logo</label>
        <input type="file" file-model="form.logo">
      </div>

      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default"  ng-if="!form.pk" ng-click="resetForm()">
              Reset
            </button>
        <button type="button" class="btn btn-primary pull-right" ng-click="save()">Save</button>
      </div>

    </div>
  </div>
</div>
</div>
