<div class="col-md-4 " style="padding:10px" ng-repeat="a in reportData">
  <div class="card" style="padding:10px;min-height:150px;">
      <span class="pull-left" style="font-size:20px">{{a.user |  getName}}</span>
      <div class="pull-right">
        <!-- <span>{{months[a.month]}}</span> -->
        <span style="color:green;" ng-if="a.deffered == false"><i class="fa fa-circle" aria-hidden="true"></i></span>
        <span style="color:red;" ng-if="a.deffered == true"><i class="fa fa-circle" aria-hidden="true"></i></span>
      </div><br><br><br><br>
      <div class="pull-right">
        <a style="cursor:pointer;" target="_blank" href="/api/payroll/getPayslip?payslip={{a.user}}"><i class="fa fa-download fa-3x text-right" ></i></a>
      </div>
  </div>
</div>
