<div class="modal-header">
  <h3 class="text-center">Add Fallowup Date</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="row" style="padding:5px 25px; padding-bottom:25px">
      <div class="form-group">
        <label class="control-label col-sm-2" style="margin-top:40px;">Fallowup Date</label>
        <div class="col-md-5">
          <div class="input-group" style="margin-top:35px;">
            <input type="text" class="form-control" show-weeks="false" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="followupData.followupDate" is-open="status.opened" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="status.opened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row container-fluid">
            <uib-timepicker ng-model="followupData.followupDate" hour-step="1" minute-step="30" show-meridian="true"></uib-timepicker>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2">Comment</label>
        <div class="col-md-10">
          <input type="text" ng-model="followupData.data" class="form-control" placeholder="Comment Here...">
        </div>
      </div>

    </div>

  </div>
  <div class="row text-center">
    <div class="btn btn-primary" ng-click="submit()">
      Submit
    </div>
  </div>

</div>
