<div ng-controller="businessManagement.marketing.contacts.form">
  <div class="container-fluid">
    <!-- <h3 ng-if="form.pk">Edit Contact : <strong>{{form.name}}</strong></h3> -->
    <h3>{{form.pk ? 'Edit Campaign' : 'Create New Contact'}}</h3>
  </div>

  <div class="container-fluid">

    <div class="col-md-6">
      <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" ng-model="form.name">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text " class="form-control" ng-model="form.email">
      </div>

      <div class="form-group">
        <label>Mobile</label>
        <input type="text " class="form-control" ng-model="form.mobile">
      </div>

      <div class="form-group" style="margin-top:20px;">
        <label>Reference ID</label>
        <input type="text" class="form-control" ng-model="form.referenceId">
      </div>

      <div class="form-group">
        <label>Source</label>
        <input type="text " class="form-control" ng-model="form.source">
      </div>



        <div class="btn-group ">
          <button type="button" class="btn btn-default" ng-click="resetForm()">
            Reset
          </button>
          <button type="button" class="btn btn-primary pull-right" ng-click="createContact()" >Save</button>
        </div>

    </div>

  </div>
</div>
