<div ng-controller="businessManagement.marketing.canpaign.explore">

  <div class="container-fluid">
    <div class="row" style="padding-top:10px;padding-left:30px">
      <div class="col-md-{{data.status == 'started'?'8':'10'}}">
        <h3>
        <span ng-if="data.typ == 'email'"><i class="fa fa-envelope-o"></i></span>
        <span ng-if="data.typ == 'sms'"><i class="fa fa-mobile"></i></span>
        <span ng-if="data.typ == 'call'"><i class="fa fa-phone"></i></span>
        &nbsp;{{data.name}}
        </h3>
      </div>
      <div class="col-md-2" style="padding-top:20px" ng-if="data.status == 'started'">
        <div class="btn btn-danger" style="margin-right:25px" ng-if="data.typ == 'email'" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus('email')" confirm-button-type="default"
          cancel-button-type="default">
          <i class="fa fa-envelope-o"></i> End Campaign
        </div>
        <div class="btn btn-danger" style="margin-right:25px" ng-if="data.typ == 'sms'" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus('sms')" confirm-button-type="default"
          cancel-button-type="default">
          <i class="fa fa-mobile"></i> End Campaign
        </div>
        <div class="btn btn-danger" style="margin-right:25px" ng-if="data.typ == 'call'" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="changeStatus('call')" confirm-button-type="default"
          cancel-button-type="default">
          <i class="fa fa-phone"></i> End Campaign
        </div>
      </div>
      <div class="col-md-2" style="padding-top:20px">
        <a ng-if="data.status == 'created'" href="/api/marketing/campaignDetails/?pk= {{data.pk}}&typ" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> Download</a>
        <a ng-if="data.status == 'started'" href="" class="btn btn-primary" target="_blank"><i class="fa fa-download"></i> Download Report</a>
      </div>
    </div>

    <div class="row" ng-if="data.status == 'created'" style="padding:30px">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-4">
          <div class="container-fluid bg-red card" style="height:18vh;border-radius:5px;cursor:pointer" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
            on-confirm="changeStatus('email')" confirm-button-type="default" cancel-button-type="default">
            <div class="row text-center" style="padding:10px;font-size:20px">
              <span><b>Start Email Campaign</b></span>
            </div>
            <div class="row text-center" style="font-size:22px">
              <span><i class="fa fa-envelope-o fa-5x"></i></span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid bg-yellow card" style="height:18vh;border-radius:5px;cursor:pointer" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
            on-confirm="changeStatus('sms')" confirm-button-type="default" cancel-button-type="default">
            <div class="row text-center" style="padding:10px;font-size:20px">
              <span><b>Start SMS Campaign</b></span>
            </div>
            <div class="row text-center" style="font-size:22px">
              <span><i class="fa fa-mobile fa-5x"></i></span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container-fluid bg-green card" style="height:18vh;border-radius:5px;cursor:pointer" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
            on-confirm="changeStatus('call')" confirm-button-type="default" cancel-button-type="default">
            <div class="row text-center" style="padding:10px;font-size:20px">
              <span><b>Start Phone Campaign</b></span>
            </div>
            <div class="row text-center" style="font-size:22px">
              <span><i class="fa fa-phone fa-5x"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row text-center text-muted" ng-if="campaignData.length > 1000 && data.typ != 'call'" style="padding:30px 5px">
      <h2>Data Is More Than 1000 So You Can Download The List</h2>
    </div>
    <div class="row" style="padding:30px 15px" ng-if="campaignData.length < 1001 && data.typ != 'call'">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Source</th>
            <th>Pincode</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="c in campaignData">
            <td>{{$index + 1}}</td>
            <td>{{c.name ? c.name :'- - - - -'}}</td>
            <td>{{c.mobile ? c.mobile :'- - - - -'}}</td>
            <td>{{c.email ? c.email :'- - - - -'}}</td>
            <td>{{c.source ? c.source :'- - - - -'}}</td>
            <td>{{c.pinCode ? c.pinCode :'- - - - -'}}</td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="row" ng-if="data.typ == 'call' && data.status != 'closed'" style="padding:20px 5px">
      <!-- <div class="row text-center" style="font-size:20px;">
        User - {{idx+1}}
      </div> -->
      <div class="row" style="padding:20px;padding-top:30px;">
        <div class="col-md-3">
          <div class="row" style="padding:25px">
            <h3 class="text-center">Directions</h3>
            <span ng-bind-html="data.directions"></span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="col-md-1">
            <div class="row zoomOnHover text-center" style="margin:200px 1px;padding:35px 10px;cursor:pointer" ng-if="showPrev" ng-click="prev()">
              <i class="fa fa-chevron-left fa-3x"></i>
            </div>
          </div>
          <div class="col-md-10">
            <div class="row" style="padding-bottom:20px;padding-left:10px;padding-right:10px;">
              <div class="container-fluid card" style="padding:5px;">
                <!-- {{userData}} -->
                <div class="row" style="padding:5px 15px;padding-top:15px">
                  <div class="col-md-5">
                    <h2 ng-if="userData.name.length > 0">{{userData.name}}</h2>
                    <span ng-if="userData.email.length > 0" style="font-size:18px"><i class="fa fa-envelope-o"></i> {{userData.email}}</i></span>

                  </div>
                  <div class="col-md-7">
                    <span ng-if="userData.mobile.length > 0" style="font-size:60px" class="pull-right"><i class="fa fa-phone"></i>&nbsp; {{userData.mobile}}</i></span>
                  </div>
                </div>
                <div class="row" style="padding-top:15px">
                  <div class="col-md-3">
                    <div class="row bg-green text-center" style="padding:20px;margin:5px;font-size:17px;cursor:pointer" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
                      on-confirm="createLog('call')" confirm-button-type="default" cancel-button-type="default">
                      Make A Call
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row bg-yellow text-center" style="padding:20px;margin:5px;font-size:17px;cursor:pointer" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
                      on-confirm="createLog('remaind')" confirm-button-type="default" cancel-button-type="default">
                      Call Fallowup
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row bg-red text-center" style="padding:20px;margin:5px;font-size:17px;cursor:pointer" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
                      on-confirm="createLog('notInterest')" confirm-button-type="default" cancel-button-type="default">
                      Not Interested
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="row bg-blue text-center" style="padding:20px;margin:5px;font-size:17px;cursor:pointer" mwl-confirm title="Confirm" message="Are you sure?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No"
                      on-confirm="createLog('leads')" confirm-button-type="default" cancel-button-type="default">
                      Convet To Leads
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-4" style="border-right:2px solid #eeeeee">
                    <h3 align="center" style="padding-bottom:20px">Logs</h3>
                    <div class="container-fluid card" ng-repeat="log in userData.logData" style="padding:1px;margin:10px;cursor:pointer" ng-click="logInfo(log)">
                      <div class="col-md-3" style="padding-left:0px">
                        <img ng-src="{{log.user | getDP}}" class="img img-rounded" style="height:35px;width:35px">
                      </div>
                      <div class="col-md-7" >
                        <span style="font-size:18px">{{log.created | timeAgo}} ago</span>
                      </div>
                      <div class="col-md-2">
                        <span style="font-size:22px" ng-if="log.typ=='outbound'"><i class="fa fa-phone"></i></span>
                        <span style="font-size:22px" ng-if="log.typ=='emailSent'"><i class="fa fa-envelope-o"></i></span>
                        <span style="font-size:22px" ng-if="log.typ=='smsSent'"><i class="fa fa-mobile"></i></span>
                        <span style="font-size:22px" ng-if="log.typ=='comment'"><i class="fa fa-commenting-o"></i></span>
                        <span style="font-size:22px" ng-if="log.typ=='converted'"><i class="fa fa-thumbs-up"></i></span>
                        <span style="font-size:22px" ng-if="log.typ=='closed'"><i class="fa fa-thumbs-down"></i></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <h3 align="center">Comments</h3>
                    <div class="row" style="padding:0px 15px;">
                      <div class="form-group">
                        <label></label>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Comment Here..." ng-model="userData.commentData">
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="createLog('comment')">Send</button>
                          </div>
                        </div>
                      </div>
                    <div class="container-fluid card" ng-repeat="log in userData.logData" style="padding:1px;margin:10px 5px;" ng-if="log.typ=='comment'">
                      <div class="col-md-1" style="padding-left:0px">
                        <img ng-src="{{log.user | getDP}}" class="img img-rounded" style="height:30px;width:30px">
                      </div>
                      <div class="col-md-8" >
                        <span style="font-size:17px">{{log.data}}</span>
                      </div>
                      <div class="col-md-3">
                        <span style="font-size:15px">{{log.created | timeAgo}} ago</span>
                      </div>
                    </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <div class="col-md-1">
              <div class="row zoomOnHover text-center" style="margin:200px 1px;padding:35px 10px;cursor:pointer" ng-if="showNext" ng-click="next()">
                <i class="fa fa-chevron-right fa-3x"></i>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
