<div class="modal-header">
  <h3 class="text-center" ng-if="typ == 'call'">Add Participants</h3>
  <h3 class="text-center" ng-if="typ == 'email'">Create An Email</h3>
  <h3 class="text-center" ng-if="typ == 'sms'">Create A Message</h3>
</div>
<div class="modal-body">
  <div class="row" style="padding:10px 20px">
    <div class="row" ng-if="typ == 'call'" style="padding:25px;">
      <div class="form-group">
        <label>Directions</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="form.directions"></textarea>
      </div>
      <div class="form-group">
        <label>Participants</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search By Name" ng-model="form.part" uib-typeahead="user as user.username for user in userSearch($viewValue)">
          <span class="input-group-btn">
            <button type="button" class="btn btn-success" ng-click="addParticipants()">Add <i class="fa fa-plus"></i></button>
          </span>
        </div>
      </div>
      <div class="row" style="padding:15px 10px">
        <div class="col-md-4" ng-repeat="p in form.partList">
          <div class="container-fluid card">
            <i class="fa fa-times fa-lg pull-right" style="padding-top:10px;cursor:pointer" ng-click="closeUser($index)"></i>
            <div class="row container-fluid" style="padding-top:10px;">
              <h4><b>{{p.username}}<b></h4>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row" ng-if="typ == 'email'" style="padding:25px;">
      <div class="form-group">
        <label>Email Subject</label>
        <input type="text" ng-model="form.emailSubject" class="form-control">
      </div>
      <div class="form-group">
        <label>Email Content</label>
        <textarea ui-tinymce="tinymceOptions" ng-model="form.emailBody"></textarea>
      </div>
    </div>
    <div class="row" ng-if="typ == 'sms'" style="padding:25px;">
      <div class="form-group">
        <textarea class="form-control" rows="7" cols="100" ng-model="form.msgBody" placeholder="Type Message Here..."></textarea>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="btn btn-primary" ng-click="submit()">
      Submit
    </div>
  </div>

</div>
