<div ng-controller="businessManagement.customers.explore" style="padding-top:20px;">
  <div class="col-md-12">
    <div class="col-md-8" style="border-right:solid 2px #eeeeee;min-height:82vh;position:relative;">
      <div class="row text-center">
        <h2><i class="fa fa-building-o"></i> &nbsp;{{compDetails.name}}</h2>
        <h4 ng-if="compDetails.telephone.length>0"><i class="fa fa-globe"></i> &nbsp;<a href="{{compDetails.web}}" target="_blank">{{compDetails.web}}</a></h4>
        <h4 ng-if="compDetails.telephone.length>0"><i class="fa fa-phone-square"></i> &nbsp;{{compDetails.telephone}}</h4>
      </div>
      <div class="row" style="margin-top:20px;font-size:18px;padding:5px 15px" ng-if="compDetails.about.length>0">
        <span ng-if="compDetails.logo.length>0"><strong>Logo : </strong>{{compDetails.logo}}<br></span>
        <span ng-if="compDetails.cin.length>0"><strong>CIN : </strong>{{compDetails.cin}}<br></span>
        <span ng-if="compDetails.tin.length>0"><strong>TIN : </strong>{{compDetails.tin}}<br></span>
      </div>
      <div class="row" style="margin-top:20px;font-size:18px;padding:5px 15px" ng-if="compDetails.about.length>0">
        <span><strong>About : </strong><br></span> {{compDetails.about}}
      </div>
      <div class="row" style="margin-top:30px;">
        <div class="col-md-6" ng-if="compDetails.address.pk!=none">
          <span class="text-center"><h4><b>Address</b></h4><br></span>
          <div class="col-md-2">
            <i class="fa fa-map-marker fa-3x pull-right" style="color:#8faec2;"></i>
          </div>
          <div class="col-md-10" style="font-size:18px">
            <span>{{compDetails.address.street}}</span> <br>
            <span>{{compDetails.address.city}} - {{compDetails.address.pincode}}</span> <br>
            <span>{{compDetails.address.state}} , {{compDetails.address.country}}</span> <br>
          </div>
        </div>
        <div class="col-md-6" ng-if="compDetails.contactPerson.pk!=none" style="padding-left:20px">
          <span class="text-center"><h4><b>Contact Person</b></h4><br></span>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-user fa-2x pull-right" style="color:#8faec2;"></i>
            </div>
            <div class="col-md-10" style="font-size:18px">
              <span>{{compDetails.contactPerson.first_name}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <i class="fa fa-mobile-phone fa-2x pull-right" style="color:#8faec2;"></i>
            </div>
            <div class="col-md-10" style="font-size:18px">
              <span>{{compDetails.mobile}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row" style="margin-top:10px;" ng-if="compDetails.contactPerson.pk!=none">
      </div> -->
    </div>
    <div class="col-md-4">
      <span class="text-center"><h3>Supports</h3></span>
      <div class="row" ng-if="custDetails.windowColor.length>0" style="padding-left:10px">
        <div class="col-md-5">
          <h4><i class="fa fa-desktop"></i> &nbsp; Window Colour</h4>
        </div>
        <div class="col-md-3" style="background-color:{{custDetails.windowColor}};margin-top:10px">
          <h3> </h3>
        </div>
      </div><br>
      <div class="row" style="padding-left:25px">
        <h4><i class="fa fa-comment-o"></i> &nbsp; Chat &nbsp;<i class="fa {{custDetails.chat?'fa-check':'fa-times'}}" style="color:{{custDetails.chat?'green':'red'}}"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class="btn btn-primary" ng-if="custDetails.chat" ng-click="openChartPopoup(compDetails.pk)">Generate Script</span></h4><br>
        <h4><i class="fa fa-phone"></i> &nbsp; Call &nbsp;<i class="fa {{custDetails.call?'fa-check':'fa-times'}}" style="color:{{custDetails.call?'green':'red'}}"></i></i></h4><br>
        <h4><i class="fa fa-envelope"></i> &nbsp; Email &nbsp;<i class="fa {{custDetails.email?'fa-check':'fa-times'}}" style="color:{{custDetails.email?'green':'red'}}"></i></i></h4><br>
        <h4><i class="fa fa-video-camera"></i> &nbsp; Video&Audio &nbsp;<i class="fa {{custDetails.videoAndAudio?'fa-check':'fa-times'}}" style="color:{{custDetails.videoAndAudio?'green':'red'}}"></i></i></h4><br>
        <h4><i class="fa fa-bar-chart-o"></i> &nbsp; VR &nbsp;<i class="fa {{custDetails.vr?'fa-check':'fa-times'}}" style="color:{{custDetails.vr?'green':'red'}}"></i></i></h4><br>
      </div>
    </div>
  </div>
</div>
