<!-- <div class="shaddowed card bg-white" style="min-height:93vh;position:relative;"> -->
  <breadcrumb></breadcrumb>
  <div class="container-fluid" id="chatTab" style="margin-top: -20px;">
    <div class="row" style="background-color: white;">

      <!-- middle part -->
       <div class="col-md-10" style="padding:0px; min-height:88vh;">
        <div class="col-md-3 anim-in-out anim-fade" style="padding:0px;" ng-repeat="cust in chatsInView">
          <chat-box data = "cust" index="$index" id="chatBox{{cust.uid}}" close-chat="closeChatBox" ></chat-box>
        </div>
      </div>
      <!-- right side part -->
       <div class="col-md-2" style="padding:0px; background-color:var(--themeMain);color:white; min-height:88vh;">

        <div class="container-fluid" style="padding:0px;">
          <div class="container-fluid"style="border:1px solid #474444">
          <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-md-9">
              <span>My Users</span><br>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="background-color:var(--themeMain);color:white;">{{myUsers.length}}</button>
            </div>
          </div>
        </div>
          <ul class="nav nav-sidebar-inverse" style="width:100%;">
            <!-- <li ng-repeat="x in newUsers" ng-click="data.xInView = $index" class="ripple "> -->
            <li ng-repeat="x in myUsers"  ng-click="addToChat($index)" class="ripple animated fadeIn">
              <a>
                <div class="row" style="cursor:pointer" >
                  <div class="container-fluid">
                    <div class="col-md-12">
                      <div class="row">
                        <span> {{x.uid.split("$")[1]}}</span>
                      </div>
                      <div class="row">
                        <i class="fa fa-circle" aria-hidden="true" style="color:{{x.isOnline ? '#37a508':'#ff0022'}}"></i>  <span >{{x.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>


        <div class="container-fluid" style="padding:0px;">
          <div class="container-fluid"style="border:1px solid #474444">
          <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-md-9">
              <span>New Users</span><br>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default" style="background-color:var(--themeMain);color:white;">{{newUsers.length}}</button>
            </div>
          </div>
        </div>
          <ul class="nav nav-sidebar-inverse" style="width:100%;">
            <!-- <li ng-repeat="x in newUsers" ng-click="data.xInView = $index" class="ripple "> -->
            <li ng-repeat="x in newUsers" mwl-confirm title="Confirm" message="Are you sure you want to assign this user to yourself?" confirm-text="Yes <i class='fa fa-check'></i>" cancel-text="No" on-confirm="assignUser($index , x.uid)" confirm-button-type="btn btn-success" cancel-button-type="btn btn-danger" class="ripple">
              <a>
                <div class="row" style="cursor:pointer" >
                  <div class="container-fluid">
                    <div class="col-md-12">
                      <div class="row">
                        <span >{{x.uid.split("$")[1]}}</span>
                      </div>
                      <div class="row">
                        <i class="fa fa-circle" aria-hidden="true" style="color:{{x.isOnline ? '#37a508':'#ff0022'}}"></i><span> {{x.name}}</span>
                        <span>( {{x.messages.length}} )</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
<!-- </div> -->
