<div class="shaddowed card bg-white" style="min-height:93vh;position:relative;">
  <breadcrumb></breadcrumb>
  <div class="container-fluid">
    <uib-tabset>
      <uib-tab>
        <uib-tab-heading>
          New <i class="fa fa-plus"></i>
        </uib-tab-heading>
        <div ng-include="'/static/ngTemplates/app.customers.form.html'">
        </div>
      </uib-tab>
      <uib-tab active="searchTabActive">
        <uib-tab-heading>
          Browse
          <i class="fa fa-list-ul"></i>
        </uib-tab-heading>
        <div class="container-fluid">
          <generic-Table data="data.tableData" config-Obj="{{config}}" callback-Fn="tableAction"></generic-Table>
        </div>
      </uib-tab>

      <uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
        <uib-tab-heading>
          {{tab.title}}
          <i ng-if="tab.cancel" class="fa fa-close" ng-click="closeTab($index);"></i>
        </uib-tab-heading>
        <div ng-if="tab.app == 'companyEdit'">
          <div ng-include="'/static/ngTemplates/app.customers.form.html'"></div>
        </div>
        <div ng-if="tab.app == 'companyInfo'">
          <div ng-include="'/static/ngTemplates/app.customers.explore.html'"></div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
