<div ng-repeat="item in data">
  <div class="col-md-3">
    <!-- Widget: user widget style 1 -->
    <div class="box box-widget widget-user-2">
      <!-- Add the bg color to the header using any of the bg-* classes -->
      <div class="widget-user-header {{$index | rainbow}} ">
        <div class="widget-user-image">
          <img class="img-circle" ng-src="{{item.url | getDP}}" alt="DP">
        </div><!-- /.widget-user-image -->
        <h3 class="widget-user-username">{{item.url | getName}}</h3>
        <h5 class="widget-user-desc">{{item.designation.rank}}</h5>
      </div>
      <div class="box-footer shaddowed">
        <ul class="nav nav-stacked">
          <li><a href="#">Projects <span class="pull-right badge bg-blue">31</span></a></li>
          <li><a href="#">Tasks <span class="pull-right badge bg-aqua">5</span></a></li>
          <li><a href="#">Completed Projects <span class="pull-right badge bg-green">12</span></a></li>
          <li><a href="#">Followers <span class="pull-right badge bg-red">842</span></a></li>
        </ul>
      </div>
    </div><!-- /.widget-user -->
  </div>
</div>
