<div class="shaddowed card bg-white" style="min-height:93vh;position:relative;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
  <p style="text-align:center;padding-top:200px;">
    <i class="fa fa-search-plus fa-5x"></i>
    <i class="fa fa-wrench fa-5x "></i>
    <br>


    <h1>{{1 | getName}}</h1> <img src="{{1 | getDP}}" style="height:50px;width:50px;" alt="">


    


    <h1>test hello</h1>
  </p>
</div>
</div>
