<div class="shaddowed card bg-white" style="min-height:93vh;position:relative;">
  <div class="container-fluid" style="padding:0px;">
    <breadcrumb></breadcrumb>
    <div align="center">
      <div id="chart-container"></div>
    </div>
  </div>
</div>
