{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
	<div class="col-md-6 col-md-offset-3" style="margin-top:10vh;">
		<h1>{% trans "Password Reset" %}</h1>

		{% if user.is_authenticated %}
		{% include "account/snippets/already_logged_in.html" %}
		{% endif %}

		<p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
		<i class="fa fa-arrow-left"></i> <a href="/" style="text-decoration:none">Go Back</a>
	</div>
{% endblock %}
