<nav class="navbar navbar-default navbar-shrink bg-blue navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand paFge-scroll" href="/">CIOC</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
      <ul class="nav navbar-nav navbar-right" >
        <li>
          {% if home %}
              <a class="page-scroll" href="#services"> <i class="fa fa-check"></i> Services</a>
          {% else %}
              <a class="page-scroll" href="/#services"> <i class="fa fa-check"></i> Services</a>
          {% endif %}
        </li>
        <li>
          <a href="/team"> <i class="fa fa-users"></i> Team</a>
        </li>
        <li>
          <a href="/contacts"> <i class="fa fa-phone"></i> Contact</a>
        </li>
        <!-- <li>
          <a href="/blog"> <i class="fa fa-copy"></i> Blog</a>
        </li> -->
        <li>
          <a href="/career"> <i class="fa fa-line-chart"></i> Career</a>
        </li>
        {% if not user.is_authenticated %}
        <!-- <li>
          <a href="/register"> <i class="fa fa-user"></i> Register</a>
        </li> -->
        <li>
          <a href="/login"> <i class="fa fa-sign-in"></i> Login</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <a href="/login"><i class="fa fa-lock"></i> Account</a>
        </li>
        <li>
          <a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
