{% extends "base.html" %} {% load staticfiles %} {% block specific_head %}
<title>Team behind the most innovative startup in India</title>

<meta name="description" content="Outsource cutting edge software development work. From machine learning to scalable ecommerce solutions we cover it all"/>
<link rel="canonical" href="https://cioc.in/" />
<link rel="publisher" href="https://plus.google.com/b/105723801328437605094/"/>
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="No. 1 Software development and IT outsourcing company in india" />
<meta property="og:description" content="Outsource cutting edge software development work. From machine learning to scalable ecommerce solutions we cover it all" />
<meta property="og:url" content="https://cioc.in" />
<meta property="og:site_name" content="24 Tutors" />
<meta property="og:updated_time" content="2018-04-01T07:17:53+00:00" />
<meta property="og:image" content="https://cioc.in/static/images/seo_tutor_common.png" />
<meta property="og:image:secure_url" content="https://cioc.in/static/images/seo_tutor_common.png" />
<meta property="og:image:width" content="1333" />
<meta property="og:image:height" content="745" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Outsource cutting edge software development work. From machine learning to scalable ecommerce solutions we cover it all" />
<meta name="twitter:title" content="No. 1 Software development and IT outsourcing company in india" />
<meta name="twitter:site" content="@tutors_24" />
<meta name="twitter:image" content="https://cioc.in/static/images/seo_tutor_common.png" />
<meta name="twitter:creator" content="@tutors_24" />

<meta property="article:author" content="cioc.in" />
<link rel="icon" href="/static/images/tutor.ico" type="image/gif" sizes="16x16">
{% endblock %} {% block specific_css %}
<link href="{% static 'css/agency.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/animate.css' %}" charset="utf-8"> {% endblock %} {% block header %}

{% include "header.html" %}

{% endblock %}
{% block content %}
<div ng-app="app" ng-controller="main">
  <div class="body">
    <div class="container" style="padding-left:0px;padding-right:0px;box-shadow: 0px 30px 50px 12px #d0d5dd;">
      <section id="team" class="bg-light-gray">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Our Amazing Team</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/pradeep.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Pradeep</h4>
                <p class="text-muted">B.Tech, IIT Bombay</p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  <!-- </li> -->
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  <!-- </li> -->
                  <li><a href="https://www.linkedin.com/in/pradeep-yadav-34521044/"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/raj.jpg' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Raj</h4>
                <p class="text-muted">B.Tech IIT Bombay, M.Tech IIT Kanpur</p>
                <ul class="list-inline social-buttons">
                  <!-- </li>
                  </li> -->
                  <li><a href="https://www.linkedin.com/in/raj-kumar-yadav-3633145b/"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/sowmya.jpeg' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Sowmya</h4>
                <p class="text-muted">MBA, Madurai Kamaraj University</p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  <!-- </li> -->
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  <!-- </li> -->
                  <li><a href="https://www.linkedin.com/in/sowmya-narayan-68743a150/"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
              <div class="team-member">
                <img src="{% static 'images/deepika.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Deepika</h4>
                <p class="text-muted">Masters in Finance, University of Porto, Portugal </p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  <!-- </li> -->
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  <!-- </li> -->
                  <li><a href="https://www.linkedin.com/in/deepika-kumari-00a45592/"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="team-member">
                <img src="{% static 'images/pravin.png' %}" style="height:150px" class="img-responsive img-circle" alt="">
                <h4>Pravin</h4>
                <p class="text-muted">MBA, IIM Kashipur </p>
                <ul class="list-inline social-buttons">
                  <!-- <li><a href="#"><i class="fa fa-twitter"></i></a> -->
                  <!-- </li> -->
                  <!-- <li><a href="#"><i class="fa fa-facebook"></i></a> -->
                  <!-- </li> -->
                  <li><a href="https://www.linkedin.com/in/pravin-kumar-126bb889/"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <p class="large text-muted">We started turning our own ideas into reality of free and open source business platform in the form of LibreERP and LibreRPA then we thought why not help others too in their entrepreneurial journey</p>
            </div>
          </div> -->
        </div>
      </section>


      {% endblock %} {% block footer %}

      {% include "footer.html" %}

    </div>
  </div>
</div>




{% endblock %} {% block specific_js %}
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/agency.js' %}"></script>
<script src="{% static 'js/angular.min.js' %}"></script>
<script src="{% static 'js/angular-ui-router.min.js' %}"></script>
<script src="{% static 'js/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/app.homepage.js' %}"></script>

{% endblock %}
