<div class="modal-header">
  <h3>{{user.username}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <div class="input-group input-group-lg col-md-6 col-md-offset-3">
          <input ng-model="form.add" type="text" class="form-control">
          <span class="input-group-addon btn btn-primary" ng-click=add()> Add <i class="fa fa-arrow-right"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    <div  class="col-md-4" ng-repeat="value in values track by $index">
      <div class="container-fluid card">
        <div class="row">
            <div class="col-md-12">
              <h4>{{value}}</h34>
            </div>
          </div>
      </div>
  </div>
  </div>
</div>
